#menu12 {

	width:800;
	position:relative;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
	background-color:#00FFFF;
	clear:both;
	z-index:100;

}

#menu12 ul {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	border:0;
	height:34px;
}
#menu12 ul li {
	list-style-type:none;
	position:relative;
	float:left;
}
#menu12 ul li a {
	display:block;
	float:left;
	height:22px;
	width:auto;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	padding-bottom:0px;
	border-right:1px solid #FF66FF;
	border-left:1px solid #3366FF;
	
}
#menu12 ul li a:hover {
	color:#00FF66;
	background-color:#9966FF;
	
}
#menu12 ul li ul {
	display:none;
}
#menu12 ul li:hover ul {
	display:block;
	position:absolute;
	left:0px;
	top: 32px;
	z-index:1;

}
#menu12 ul li:hover ul li a {
	display:block;
	left:0px;
	color:#3399CC;
	background-color:#CCCC00;
	width:250px;
	height:14px;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	border:1px solid #CCFF33;
	padding:7px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}
#menu12 ul li:hover ul li a:hover {
{
	left:-px;
	color:#999999;
	border:1px solid #0000CC;
	background-color:#FFFF00;
	filter:alpha(opacity=70)
	-moz-opacity: 0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
}
