@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 


body { 
  font: normal .80em arial, sans-serif;
  background: #FFF url(../images/back.jpg) no-repeat center fixed;
  color: #DDD;
}


nav { 
  float: left;
  height: 44px;
  width: 980px;
  margin: 0 auto 0 auto;
  color: #FFF;
  background: transparent url(../images/transparent.png);
} 

html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 200px;
}
#header1 {
	margin-right: 100px;
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#content1 {
	color: #FF0000;
	background-image: url(../recording_studio_images/bg_img.jpg);
	background-repeat: no-repeat;
	margin-top: 125px;
	margin-right: 50px;
	margin-left: 50px;
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 0px;
}



html body ul.sf-menu ul ul { 
  margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 10;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: #0DBBD5;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:7px 20px 6px 20px;
  font: 170% 'Yanone Kaffeesatz', arial, sans-serif;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  color: #0DBBD5;
  text-shadow: none;
}

ul#nav ul li a:hover,ul#nav ul li a:focus { 
  color: #222;
  text-shadow: none;
}


/* CSS Document */



* { 
	margin:0; padding:0;
	border:0;
}

body {
	background: #000;
	font-family:Arial;
	font-size:12px;
	color:#000;
}




img{ vertical-align:top}

p{
	font:13px Arial, Helvetica, sans-serif; color:#8a8e93;
	line-height:18px;
}


a{
	font:13px Arial, Helvetica, sans-serif;
	color:#FFF;
	line-height:18px;
}





h1{
	font:15px Arial, Helvetica, sans-serif; color:#fff;
	line-height:18px;
	font-weight:bold;
}

h2{
	font:15px Arial, Helvetica, sans-serif; color:#fff;
	line-height:18px;
	font-weight:bold;
}


h3{ 
	font-size:26px; 
	color:#fff; 
	font-weight:bold; 
	text-transform:uppercase; 
	line-height:30px; 
	letter-spacing:-1px;
}

.small_text{
		font:13px Arial, Helvetica, sans-serif; color:#8a8e93;
		line-height:18px;
}


.orange_text{
	font:14px Arial, Helvetica, sans-serif;
	color:#C30;
	line-height:18px;
}

.orange_text a{
	font:14px Arial, Helvetica, sans-serif;
	color:#FC0;
	line-height:16px;
	text-decoration:none;
}





ul.thumbs noscript li{
	float:left;
}



#header_wrapper{
	width:980px;
	margin:0 auto;
	overflow:hidden;
}

#main_wrapper{
	width:980px;
	margin:0 auto;
	overflow:hidden;
	
}


#logo{
	width:400px;
	height:142px;
	float:left;
	background: url(../recording_studio_images/logo.jpg) 0 0px no-repeat;
}




#recording_studio_header{
	height:212px;
	float:left;
	width:100%;
	background:url('../recording_studio_images/bg_top.jpg') repeat-x;
}

#header_text{
	font:12px Arial, Helvetica, sans-serif; 
	width:450px;
	height:35px;
	float:right;
	color:#FFF;
	text-transform:none; 
	margin:20px 5px 0 0;
	text-align:right;
	padding:0px;
}


#recording_studio_body{
	float:left;
	width:100%;
	background:url(../recording_studio_images/bg_img.jpg) top center no-repeat;

	min-height:700px;
}


li{ list-style:none; margin:none;float:left;}
#menu { width:100%; overflow:hidden; height:70px; margin-top:0px; background:url(../recording_studio_images/menu_bg.jpg) bottom repeat-x; position:relative;}
#menu li { padding-right:1px; background:url(../recording_studio_images/menu_line.png) right top no-repeat; float:left;}
#menu li a{ font-family: Verdana, Arial, Helvetica, sans-serif;display:block; line-height:70px; width:108px; font-size:11px; margin-top:5px; color:#83878e; text-transform:uppercase; text-decoration:none; text-align:center;float:left;}
#menu .last{ padding-right:0; background:none}
#menu .last a{ width:108px;}
#menu li a:hover, #menu #menu_active a{
	color:#fff;
	background:#ff5a00;
	background:url(../recording_studio_images/menu_hov.png);
	line-height:70px;
	margin-top:0px;
}

#icons{ float:right;}
#icons li{ padding-left:5px; float:left;}
#icons li a{ display:block; width:26px; height:26px;}
#icon1{ background:url(../recording_studio_images/myspace_icon_o.png) no-repeat}
#icon1:hover{ background:url(../recording_studio_images/myspace_icon.png) no-repeat}
#icon2{ background:url(../recording_studio_images/facebook_icon_o.png) no-repeat}
#icon2:hover{ background:url(../recording_studio_images/facebook_icon.png) no-repeat}
#icon3{ background:url(../recording_studio_images/twitter_icon_o.png) no-repeat}
#icon3:hover{ background:url(../recording_studio_images/twitter_icon.png) no-repeat}
#icon4{ background:url(../recording_studio_images/flickr_icon_o.png) no-repeat}
#icon4:hover{ background:url(../recording_studio_images/flickr_icon.png) no-repeat}




/************* Content ****************/
#studio_photo{
	width:100%;
	float:left;
	height:411px;
	background:#000000;
	
	
}

#index_photo{
	width:250px;
	float:left;
	height:188px;
	background:#000000;
	background:#202124;
}


#gallery_photo{
	width:100%;
	float:left;
	height:411px;
	background:#000000;
	background: url(../recording_studio_images/mainimage.jpg) #000000;
}

#icon_row{
	width:100%;
	float:right;
	height:25px;
	background:#17181A;
	color:#fff;
	padding:5px;
}





#index_text{
	width:593px;
	float:left;
	min-height:600px;
	background:#202124;
	padding:20px;
}

#studio_blog{
	width:307px;
	min-height:600px;
	float:left;
	background:#1D1E20;
	padding:20px;
}

.blog_item{
	width:307px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	background:none;
	border-bottom:1px solid #37393d
}
	

.blog_date{
	width:307px;
	height:25px;
	float:left;
	background:url(../recording_studio_images/blog_bg.png) no-repeat;
}

#studio_blog p{
	font:15px Arial, Helvetica, sans-serif; color:#fff;
	padding:5px;
}



#studio_blog a{
	font:13px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-decoration:none;
	}

#studio_blog a:hover{
	font:13px Arial, Helvetica, sans-serif;
	color:#C00;
	text-decoration:underline;
}


#footer_row{
	width:100%;
	float:right;
	height:25px;
	background:#17181A;
	color:#fff;
	padding:5px;
}

#footer_row{
	width:100%;
	float:right;
	height:25px;
	background:#17181A;
	color:#fff;
	padding:5px;
}

#footer_row a{
	font:13px Arial, Helvetica, sans-serif; color:#8a8e93;
	line-height:18px;
	text-decoration:none;
	font-weight:bold;
}

#footer_row a:hover{
	font:13px Arial, Helvetica, sans-serif; color:#fff;
	line-height:18px;
	text-decoration:none;
	font-weight:bold;
}

#footer_row p{
	font:13px Arial, Helvetica, sans-serif; color:#fff;
	line-height:18px;
	float:right;
}







/****** FOOTER ******/

#footer_main{
	
	float:left;
	width:100%;
}

.footer_box{
	padding:10px;
	width:120px;
	float:left;
}

.footer_box2{
	padding:20px;
	width:190px;
	float:left;
}

.footer_box3{
	padding:10px;
	width:200px;
	float:left;
	height:107px;
	
}

.footer_box2 img{border:none;float:left;margin-top:-10px;}


.footer_box a{
	font-size: 13px;
	color:#8a8e93;
	text-decoration:none;
}

.footer_box2 a{
	font-size: 13px;
	color:#8a8e93;
	text-decoration:none;
}


.footer_box a:hover{
	font-size: 13px;
	color:#fff;
	text-decoration:none;
}

.footer_box2 a:hover{
	font-size: 13px;
	color:#fff;
	text-decoration:none;
}






	

	
	
	
/**************** Page styles *******************/





#studioL{
	width:593px;
	float:left;
	min-height:600px;
	background:#1D1E20;
	padding:20px;
}

#studioR{
	width:307px;
	min-height:600px;
	float:left;
	background:#202124;
	padding:20px;
}

.studio_item{
	width:593px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	background:none;
	border-bottom:1px solid #37393d
}

#colL{
	width:450px;
	float:left;
	min-height:600px;
	background:#1D1E20;
	padding:20px;
}

#colR{
	width:450px;
	min-height:600px;
	float:left;
	
	background:#202124;
	padding:20px;
}

.col_item{
	width:450px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	background:none;
	border-bottom:1px solid #37393d
}


#fullcol{
	width:940px;
	float:left;
	
	background:#1D1E20;
	padding:20px;
}

.fullcol_item{
	width:940px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	background:none;
	border-bottom:1px solid #37393d
}

#sclist{
	width:300px;
	float:left;
	background:#1D1E20;
	padding:20px;
}


#player{
	width:600px;
	float:right;
	display:block;
	background:#202124;
	padding:20px;
}



  	
#googleMap{
	float:left;
	margin:40px 0 0 0;
	padding:30px 20px 20px 20px;
}


#content {
	margin-left: 50px;
	background-image: url(../recording_studio_images/bg_img.jpg);
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 0;
	padding-left: 0;
	background-repeat: no-repeat;
	margin-top: 125px;
	margin-right: 50px;
}
#content p {
	font-size: 18px;
	line-height: 4.9em;
	padding-left: 2em;
	color: #FFFFFF;
}
h {
	color: #FFFFFF;
	background-color: transparent;
	border-bottom: 1px dotted #265180;
	font-family: Georgia;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin-right: 100px;
	margin-left: 100px;
}
table {
	font-family: Tahoma;
	font-size: 12pt;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
}
th{
	color: #000000;
	font-size: 12pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #006633;
	margin-left: 100px;
	margin-right: 100px;
}
td{
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #ECE9D8;
	border-collapse: collapse;
	color: #FFFFFF;
}
input,textarea,select{
	font-family: Tahoma; 
	font-size: 14pt;
}

