﻿body 
{
	margin:0;
	padding:0;
	background: #111111;
	font-family:Trebuchet MS, sans-serif,'Myriad Pro';
}
div select {color: #000;}

body.wide .mainContainer{
    background-color:#000;
}


a img
{
	border: 0;
}
.mainContainer
{
	font-size:12px;
	color: #ccc;
	font-family:Trebuchet MS;
}
 

.mainContainer a
{
	color: #fff;
	text-decoration:underline;
	
}

.mainContainer a.noUnderline, .mainContainer .noUnderline  a
{
	text-decoration: none;
	
}

.mainContainer a.underline
{
	text-decoration:underline;
}
.mainContainer a:hover
{
	color: #ccc;
}

a.inactive
{
	cursor:default;
  
}

.left
{
	float:left;
}

.right
{
	float:right;   
}

.clear
{
	clear:both;
}

.clear2
{
	height:0;     
	clear:both;
}

span.clear
{
	display:block;
}

.upper
{
	text-transform: uppercase;
}

.bold
{
	font-weight: bold;
}

.hide,.hrhide
{
	display:none;
}

.valignmiddle{
	vertical-align:middle;
}

.valigntop{
	vertical-align:top;
}

.valignbottom{
	vertical-align:bottom;
}

.valignsub{
	vertical-align:sub;
}

.sm
{
	font-size: 11px;
}

.xsm
{
	font-size: 10px;
}

.lg
{
	font-size: 16px;
}


.xlg
{
	font-size: 20px;
}
.med
{
	font-size: 14px;
}
.alignCenter
{
	text-align:center;
}

.alignRight
{
	text-align:right;
}

.white
{
	color: #fff;
}

.red
{
	color:#9F1431;
}

.darkGray
{
	color: #666;
}

.medGray
{
	color: #999;
}

.ltGray
{
	color: #CCC;
}

.gold
{
	color:#F3CC43;
}

a.underlineHover
{
	text-decoration:none;
}

a.underlineHover:hover
{
	text-decoration:underline;
}


.grayDivider
{
	border-bottom:solid 1px #333;
	height:1px;
	padding: 12px 0;
}

.medGrayDivider
{
	border-bottom:solid 1px #464646;
	height:1px;
	padding: 12px 0;
}

.ltGrayDivider
{
	border-bottom:solid 1px #999;
	height:1px;
	padding: 12px 0;
}

.whiteLinks a, a.whiteLinks
{
	color: #fff;
	text-decoration:underline;
}

.whiteLinks a:hover, a:hover.whiteLinks
{
	color: #CCC;
	
}

.grayLinks a, a.grayLinks, a.grayLink
{
	color: #666;
	text-decoration:none;
}

.ltGrayLinks a, a.ltGrayLinks, a.ltGrayLink
{
	color: #CCC;
	text-decoration:none;
}


.ltGrayLinks a:hover, a.ltGrayLinks:hover, a.ltGrayLink:hover
{
	color: #FFF;
}

.grayLinks a:hover, a:hover.grayLinks
{
	color: #CCC;
	
}
/* Layout styles */

#top
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:101;
}

#top .container
{
	width: 928px;
	margin: 0 auto;
}

body.narrow #top .container
{
	width:754px;
}

.navBar
{
	background: #111111 url(/images/navbar.jpg) no-repeat center 0;
	height: 46px;
}


body.narrow .navBar
{
	
}


#outterContainer
{
	background: url(/images/mainbg.jpg) no-repeat center 0;
	
	position:relative;
}



#wrapper
{
	background: url(/images/BG_tile_strip.jpg) repeat-y center 0;
}

body.narrow #wrapper
{
	background: url(/images/BG_tile_strip_narrow.jpg) repeat-y center 0;
}


body.narrow.cafe #outterContainer
{
	background: url("/images/narrow_cafe.jpg") no-repeat scroll center 0;
}

body.wide.cafeHome #outterContainer, body.wide.locations #outterContainer, body.wide.error404 #outterContainer
{
	background: url("/images/wide_cafe.jpg") no-repeat scroll center 0;
}

body.narrow #wrapper
{
	background: url(/images/BG_tile_strip_narrow.jpg) repeat-y center 0;
}

#innerContainer
{
   width:980px;
   margin:0 auto;
   position:relative;
}


body.narrow #innerContainer
{
	width: 777px;
	background-color:#000;
}

.error
{
	color: #DA2128;
}
/* Homepage Styles */

#bottomThumbs .rrItem
{
	cursor:pointer;
}

#findLocation
{
	position:relative;
	min-height:199px;
	width: 334px;
}



#findLocationLayer1
{    
	width: 334px;
	height: 63px;
	top: 31px;    
	text-align:right;
	overflow:hidden;
}



#findLocationLayer2
{
	background: url(/images/findlocationBG.png) no-repeat;
	height:100%;
	width: 100%;
}


#findLocationLayer2 .hrcontainer
{
	padding:30px;
}


.findLocationBoxSmall #findLocationLayer2 .hrcontainer 
{
	padding-right:17px;
	padding-left: 24px;
}
.viewLocationMapLink
{
	position: absolute; 
	right: 32px; 
	top: 32px; 
	width: 78px;
}


#bottomThumbs
{
	background: url(/images/locationshadow.png) no-repeat scroll 0 0;
	height:199px;
}

#bottomThumbs .container
{
	background: url(/images/thumbsBG.jpg) no-repeat scroll right top;    
	height: 100%;
}



.txtLocationSearch
{
	padding-left: 4px;
	background-color: #AFAFAD; 
	border:none; 
	height:18px; 
	width:115px; 
	color:#333; 
	font-size: 11px
}
 #findLocation.findLocationBoxSmall
{
	width:263px;
}

#bottomThumbs .prevBtn,
#bottomThumbs .nextBtn
{
	cursor:pointer;
}

/* End Homepage Styles */


/*End  Layout styles */

/*search box*/

#search
{
	height:30px;
	text-align:right;
	padding-top: 8px;
	position:relative;
	z-index:10001;
}

span.searchBox
{
	/*width:297px; to remove rewards search nav - RJ 8/28/13 */
	display:block;
	position:absolute;
	right:0;   
	background-color: #333;
	z-index:10001;
	
}

body.narrow span.searchBox
{
   
}


ul li.searchBox a.rmLink
{    
	padding:2px 10px;
	display:block;    
	background: url(../images/mem_arrow.gif) no-repeat 90% 8px;    
	font-size: 11px;
	
	text-decoration:none;
	text-transform:uppercase;
	text-align:left;
	color:#CCCCCC;
	cursor:pointer;
}


ul li.searchBox a.rmExpanded,ul li.searchBox a:hover
{
	color: #FFFFFF;
}

ul.searchBoxNav
{
	list-style:none;
	padding:0;
	margin:0;
}

.radSearchBox
{
	width:110px;
}

.radSearchBox ul li.searchBox:hover a.rmLink
{    
	background-image: url(../images/mem_arrow_over.gif);
}

.radSearchBox  ul li.searchBox
{
	background: #333; 
	text-align:left;
	
}


.radSearchBox ul li.searchBox:hover
{
	background: url(../images/mem_hoverBG.gif) repeat-x;    
}



ul li.searchBox .menuContent
{
	/*display:none;*/
	width:194px;
	height:432px;
	background:url(../images/mem_menu.png) no-repeat;
	text-align:left;
	padding-top: 12px;
}

ul li.searchBox .menuContent a.subMenuItemLink
{
	color:#cccccc;
}

ul li.searchBox .menuContent a
{
	display:block;
	margin: 0 4px 0 2px;
}

ul li.searchBox .menuContent a:hover
{
	background-color: #666;
	color: #fff
}



ul li.searchBox  .promoCol, ul li.searchBox .socialButtons
{
	display:none;
}


.radSearchBox ul li.searchBox:hover .menuContent,.radSearchBox  ul li.searchBox .menuContentContainer:hover
{
	display:block;    
}

.searchBox_nav
{
   width:99px;
   float:left;
   height:20px;
   display:none;
}



.searchBox_nav .rmRootGroup .rmSlide ul
{
   
}


.searchBox_nav .rmRootGroup li.searchBox
{
	height:22px;
	position:relative;
	left:-1px;
}
.searchBox_search{
	 border: solid 1px #333;
	 /*border-left: none; to remove rewards search nav - RJ 8/28/13 */
	width: 197px;  
	float:right;    
	background-color: #AFAFAD;
	height:20px;
}

.searchBox .spacer
{
	clear:both;
}

.searchBox_search .searchText{
	background-color: #AFAFAD; 
	border:none; 
	height:18px; 
	width:166px; 
	color:#333;
	/*text-indent:36px; to remove rewards search nav - RJ 8/28/13 */
}

#bottomBar .txtEmail
{
	background-color: #AFAFAD; 
	border:none; 
	height:18px; 
	width:166px; 
	color:#333;
	padding-left: 4px;
}

#bottomBar .txtEmailContainer
{
   background-color: #AFAFAD; 
   /*padding:3px 0px 2px 6px;*/
   /*margin-left:6px;*/
}


#bottomBar .lblSignup
{
	/*padding-left: 15px;*/
}

#bottomBar .msgEmailSuccess
{
	padding-left: 115px;
}
.searchBox_search .searchButton{
vertical-align:top

}

.emailSignupContainer
{
	display:inline;
	padding-left: 4px;
}

/* ie transparency fade fix */
 img.png {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
	zoom: 1;
}


.itemDesc
{
	padding-top:4px;
	color: #999;
	text-transform:uppercase;
	font-size:12px;
}


/* Navigation */
#navBar{
	background: url(../images/navbar.jpg) no-repeat; 
	width:928px; 
	height: 46px; 
   /*padding:10px 0 0 20px;*/
}

ul.rmRootGroup
{
	list-style:none;
	margin:0;
	padding:0;
}

ul.rmRootGroup li.main .rmLink, li.home .rmLink
{
	font-size: 19px;
	color: #FFF;
	text-transform: uppercase;
	float:left;    
	position:relative;
	cursor:pointer !important;
}



li.home .rmLink
{
	height: 46px;
	width:100px;
}
ul.rmRootGroup li.main.rmLast
{
	float:left;
}



ul.rmRootGroup li.main
{   
	 padding: 0 13px;
	 height:47px;
}

body.narrow ul.rmRootGroup li.main
{   
	 padding: 2px;
}


ul.rmRootGroup li.main a.rmLink
{
	font-size: 19px;
	color: #FFF;
	text-decoration:none;   
}

body.narrow ul.rmRootGroup li.main a.rmLink
{
	font-size: 15px;
}

ul.rmRootGroup li.main a.rmLink.linked
{
	cursor:pointer;
}

ul.rmRootGroup li.main:hover
{
	/*background-image: url(../images/arrow_over.gif);*/
	background: url(../images/mainnav_mouseover_bg.jpg) repeat-x;
}

ul.rmRootGroup li.home
{
	background: url(../images/hardrocklogo.jpg) no-repeat;
	width: 112px !important;
	height:46px;   
	padding: 0;
	cursor:pointer;
}

body.narrow ul.rmRootGroup li.home
{
	width: 108px !important;
}

ul.rmRootGroup li.home:hover
{
	padding: 0;
	background: url(../images/hardrocklogo_over.jpg) no-repeat;
}


ul.rmRootGroup li.main a.rmLink
{    
	padding:11px 13px;
	display:block;    
	background: url(../images/navarrow.gif) no-repeat right 19px;    
}
ul.rmRootGroup li.main:hover a.rmLink
{    
	background-image: url(../images/navarrow_over.gif)
}



.home .menuContent
{
	background:  url(../images/corp_dropBG.png) no-repeat;
	width:193px;
	height: 259px;
}

.twoColRight .menuContent
{
	background: url(../images/drpdwn_2_right.png) no-repeat;
	width:438px;
	height: 306px;
}
.twoColLeft .menuContent
{
	background: url(../images/drpdwn_2_left.png) no-repeat;
	width:438px;
	height: 306px;
}

.threeColLeft .menuContent
{
	 background: url(../images/drpdwn_3_left.png) no-repeat;
	 width: 629px;
	 height: 306px;
}

.twoColLeft .rmSlide
{
 
	left:auto !important;
	right: -2px !important;

	/*left: -311px !important;*/
}

.threeColLeft .rmSlide
{   
   left:auto !important;
	right: -2px !important;
	/* left: -519px !important;*/
}


/* Navigation | drop down styles */
 .menuContent
 {
	 
 }

 .menuContent a.subMenuItemLink
{
	font-size: 11px;
	display:block;
	padding: 2px 16px;
	text-decoration:none;
	text-transform:uppercase;
}

 .menuContent span.header
{
	padding: 3px 16px 0 18px;
	display:block;
	font-size: 11px;
	color: #848484;
	font-weight:bold;
	text-transform:uppercase;
}

.menuContent div.spacer
{
	margin: 6px 16px;
	padding: 0px;    
	height: 1px;
	border: none;
}

.content 
{
		width:720px;
	padding:18px 0 15px 20px;
	
}

li.main .menuContent div.spacer, li.searchBox .menuContent div.spacer
{    
	/*border-bottom: 1px solid #5C5C5C;*/
	background-color: #5C5C5C;
}


li.home .menuContent div.spacer
{    
	/*border-bottom: 1px solid #CCC;*/
	background-color: #CCC;
}

li.main .menuContent
{
	color: #CCC;
}

li.main .menuContent .socialButtons{
	margin: 0px 18px;
	padding-top: 8px;
	clear:both;
}


li.main .menuContent .socialButtons a{
	margin-right: 6px;
}

li.main .menuContent a.subMenuItemLink
{    
	color: #CCC;
}

li.main .menuContent a.subMenuItemLink:hover
{
	background-color: #666;
	color: #CCC;
}

li.home .menuContent a.subMenuItemLink
{
	color: #333;    
}

li.home .menuContent a.subMenuItemLink:hover
{
	background-color: #ccc;
	color: #000;
}

/* Navigation | drop down | column 1 */
li.twoColLeft .menuContent .col1
{
   width: 189px;
   margin: 0 5px;
   padding: 8px 0 0 0;  
	
}

 li.twoColRight .menuContent .col1
{
   width: 189px;
   margin: 0 4px;
   padding: 8px 0 0 0;  
  
}

li.twoColRight .menuContent .col1
{
	float:left;
}


 li.threeColLeft .menuContent .col1
{
   width: 189px;
   margin: 0 5px 0 0;
   padding: 8px 0 0 0;  
	float:right;
	
}


li.twoColLeft .menuContent .col1
{
	float:right;
}



li.home .menuContent .col1
{
   width: 189px;
   margin: 0 1px;
   padding: 8px 0 0 0;
}

/* Navigation | drop down | column 2 */

 li.threeColLeft .menuContent .col2
{
   width: 189px;
   margin: 16px 3px 0 0px;
   padding: 8px 0 0 0;  
  float:right;
  
}


/* Navigation | drop down | promo column */

.menuContent .promoCol .promoText
{
	color: #ccc;
	text-align:left;
	margin:6px 16px;    
}

.menuContent .promoCol .promoText a
{
	color: #fff;
}

.menuContent .promoCol .promoText a:hover
{
	color: #999;
}

li.threeColLeft .menuContent .promoCol
{
	float:left;
}

.menuContent .promoCol{
	padding-top: 38px;
	text-align:center;
	width: 236px;
}

.menuContent .promoCol .spacer
{
	margin: 12px 16px 6px 16px;
}

li.twoColRight .menuContent .promoCol
{    
	margin-right: 2px;    
	float:right;
}

li.twoColLeft .menuContent .promoCol
{   
	margin-left: 2px;    
	float:left;
}





/*End Navigation Styles */


/* Footer */

#footer
{
	background: #000 url(/images/footer.jpg) no-repeat scroll right top;
	min-height:150px;  
	font-size:11px;
	padding-bottom: 50px;
	color:#666666;
	/*width:777px;*/
	padding:30px 0px 50px 30px;
}

.footerHeaderLink
{
	
}

#footer .column {
width: 16%; 
float: left; 

}

#footer .divider
{
   border-left: 1px solid #333;
	float: left;
	height: 155px;
	width: 4%;
}


#footer .column.col5 a
{
   color:#CCCCCC;
}

#footer .copyright
{
	/*width: 850px; */
	width:97%;
	padding: 0pt 0px; 
	padding-top:22px;
}

#footer .copyright a
{
	color: #666666;
}

#footer .copyright a:hover
{
	color: #999999;
}
#footer .copyright .left
{
	width:50%;
}


#footer .copyright .right
{
	width:50%;
	text-align:right;
}




#footer a.footerLink {
color:#666666;
}

#footer a.footerLink:hover {
color:#999;
}

#footer a {
color:#CCCCCC;
text-decoration:none;
font-size:11px;
}

#footer a:hover
{
	color: #FFF;
}

#bottomBar a
{
	color: #666;
	text-decoration: none;
	
}

#bottomBar a:hover
{
	color: #333;
	text-decoration: none;
	
}


#bottomBar
{
   
	z-index: 103;
}

.bottomBarBG
{
	 position:fixed; 
     z-index:7000;
	bottom:0; 
	width:100%; 
	background: url(/images/bottomnav_BG.png) repeat-x center bottom;   
}

#bottomBar .container
{
	background: url(/images/bottom_navbar.png) no-repeat center bottom; 
	height: 53px;
}

#bottomBar .center
{
	background: url(/images/bottom_navbar_logo.png) no-repeat center center;
	position:absolute;
	width:155px;
	height:86px;
	position:absolute;
	left: 46%;
	bottom:0;
}


#bottomBar .centerImg
{
	width:100%;
	height:65px;
	
	position:absolute;
	bottom:0;
	left:0;
}


#bottomBar .centerLink
{
	/*cursor:default;*/
}

#bottomBar .container .outter
{
	height: 40px; position:absolute; bottom: 0; width: 100%;
}

#bottomBar .container .inner
{
	width:928px; margin: 0 auto; padding: 0px 0; color: #666; font-size: 11px; font-weight: bold; text-transform: uppercase;
}

#bottomBar .container .inner .leftSection
{
	position: relative; padding:10px 0; width:400px;
	float:left;
}

#bottomBar .container .inner .rightSection
{
	position: relative; 
	padding:2px 0 0 0;
	float:right;
}

.footerLocationListContainer{
	width:928px; margin: 0 auto; padding: 0px 0; position:relative;
}

#bottomBar .container .botBarHash{
	vertical-align:middle; padding: 0 10px;
}

#bottomBar .container .botBarMap{
	vertical-align: middle; position:relative; bottom:2px;
}



#bottomContent
{
	color:#999999;
	padding: 8px 0 30px 30px ; 
	background: url(/images/home/botmbody_socialBG.jpg) no-repeat;
}

/* Footer | Find a location  */

.findSearchLocationContainter
{
	border-bottom:1px solid #666666;
margin-bottom:17px;
padding-bottom:23px;
}
.footerFindLocation
{
	position:absolute;
	right:-30px;
	bottom: 40px;
	height: 630px;
	width: 216px;
	background:  url(../images/bot_locationdrpBG.png) no-repeat;
	z-index: 102;
	visibility:hidden;   
}

.footerFindLocation .container
{
 padding:8px 0 0 8px;
}
.footerFindLocation .spacer{
	background: url(../images/bot_locationdrpDivder.gif) no-repeat 0 center;
	height: 8px;
}

.footerFindLocation .locationList
{
	overflow:scroll;
	height: 560px;
	width: 200px;    
	padding-top: 8px;
}

.footerFindLocation span.location
{
	display:block;
	width:186px;
}


.footerFindLocation span.location a
{
	font-size: 11px;
	color: #333;
	text-transform:uppercase;
	display:block;
	padding: 4px 12px;
	text-decoration:none;
}


.footerFindLocation .findLocationClose
{
	position:absolute;
	top:3px;
	left:1px;   
}

.footerFindLocation .globalLink
{
	margin-top: 14px;   
}

.footerFindLocation span.location.hotel a
{
	color: #782AB2;
}

.footerFindLocation span.location a:hover
{
	background-color: #ccc;
}

/* Footer | Email Signup */

.signupEmail
{
	margin-left: 25px;
	 display:inline;
}

input.emailSubmitButton
{
	vertical-align: top;
	display:inline;
	margin-left: 6px;
}

.signupEmail .rfvEmail
{
	color: #DA2128;
	
}


span.validationErrors
{   
	position:relative;
	display:block;
	/*padding: 0 6px;*/
	
}

.divRFVEmail, .divInvalidEmail
{
   /* display:inline;
	color: #CC0000;
	position:absolute;
	left:1px;
	top:1px;*/
	
}

.rfvEmail,.revEmail
{
	display:none;
}

.valError
{
	border: solid 1px #DA2128 !important;
}




#bottomBar .valSum
{
	position:absolute;
	right:26px;
	bottom: 34px;
	background-color: #ccc;
	display:none;
	padding:12px 12px;
	width:252px;
	/*height: 46px;*/
   
	text-align:center;
	color: #DA2128;
	background: url(/images/errorbox.png) 0 0;
	
}
input.txtEmail
{
	margin-right: 0px;
}



/* End Footer */

.viewLocationMap
{
	color: #CCC; 
	text-decoration:none; 
	font-size: 8px; 
	text-transform: uppercase;
}




/* Cafe Page Styles */

.bannerDivider, .bannerSpacer
{
  
   padding:7px 0;
}

/*cleanup styles*/
#col2 p
{
	text-align:left;
	margin:4px 0;
}
#col2 center
{
	text-align:left;
}


/* cafe / main styles */
#cafeMainContentContainer .fbLike
{
	margin-top: 20px;
}


span.cafePageTitle, div.cafePageTitle
{
	color:#FFF;
	font-size: 20px;
	font-weight: bold;
	display:block;
	border-bottom:solid 1px #343434;
	padding: 0 0 2px 0;
	margin: 4px 0 10px 0;
	text-transform: uppercase;
}

.cafePageSubTitle
{
	color:#CCC;
	font-size: 16px;
	font-weight: bold;
	display:block;   
	padding: 0 0 2px 0;
	margin: 0px 0 0px 0;
	text-transform: uppercase;
}


.CafeAltHeaderCafeName
{
	display:none;
}

#cafeLeft
{
	float:left;
	width:172px;
}
#cafeRight
{
	float:left;
	width:605px;
	background: #000000 url(/images/cafes/calendarBOT_BG.jpg) no-repeat 0 0px;
	min-height: 200px;
}

#cafeMainContentContainer.onecolumn #cafeLeft
{
	width:0;
	display:none;
	
}
#cafeMainContentContainer.onecolumn #cafeRight
{
	background: #000000 url(/images/cafes/menu_bg.jpg) repeat-x 0 0px;
	width:100%;
}
#cafeMainContentContainer.onecolumn #col2
{
	width:100%;
}


#newsTicker
{
	width:605px;
	background: #000000 url(/images/cafes/calendarBG.jpg) no-repeat;
	margin-bottom: -12px;
}


.divFeature
{
	margin-bottom: 4px;
}

.newsTickerSpacer
{
	padding: 4px 0;
}

#col1
{
	width: 172px;
	float:left;
}

#col2
{
	width: 390px;
	
	float:left;
}
#col2 .container
{
	padding: 15px 0 15px 15px;
}

#cafeMainContentContainer.twocolumn #col2
{
	width: 590px;
	
}


#cafeContainer
{
	background-color: #000;
}

#col3
{
	width:200px;
	float:right;
}
#col3 .container
{
	padding: 15px 0px;
}

#cafeSocialButtons
{
	text-align:right;
	margin:0 12px 14px 0;
}

.leftContentContainer{
	background: #000000 url(/images/cafes/submenu_botshadow.jpg) no-repeat left top ;
	padding: 14px 0 12px 10px;
	min-height:50px;
}

.CafeSubHeader
{
	font-weight: bold;
   color:#FFF;
	font-size: 11px;
}
.participating_top
{
	margin-top:12px;
}

.memorabiliaHeading
{
	text-transform: none;
	margin: 4px 0 12px 0;
} 

.cafeDirections
{
	display:block;
	padding:5px;
	background-color: #000;
  
   
}

.cafeDirections #googleMap
{
	color:#333;
}


/* cafe menu select */

.cafeSelectMenu
{
	width:387px; 
	margin:0 auto; 
	text-align:center;
	min-height:500px;
}

.cafeSelectMenu .selectCafeBox
{
	background: url(/images/cafes/menu_box.jpg) no-repeat; 
	width:273px; 
	height:62px; 
	margin:0 auto;
}

.cafeSelectMenu .selectCafeBox .selectCafeText
{
	color: #000;
	font-weight:bold;
	font-size: 12px;
	padding: 8px 0 4px 0;
	display:block;
}


/*google map and directions title */
.CafeSubHeader.ContentID_51
{
	position:relative;
	left:-5px;
}
 
#getDirections
{
	display:block;
	background: url(/images/cafes/directions_box.jpg);
	width:365px;
	height:67px;
	margin-bottom:8px;
}
#LocationMap .title
{
	margin-top:12px;
	display:block;
}

#LocationMap .contentBox
{
	margin-top:12px;
}

#getDirections .instructions
{
	color: #000;
	font-weight:bold;
}


.cafeDirections .title
{
	display:block;
	margin: 8px 0;
}

#getDirections #txtStartingAddress
{
	width: 240px;
}
#getDirections .container
{
	padding: 12px 0 12px 12px;
}
#getDirections .directionsSubmit
{
	cursor: pointer; 
	position:relative; 
	top: 5px;
	left: 4px;
}

/* cafe pages | news ticker */

#newsTicker
{
	height:64px;
	
}

#newsTicker .hrcontainer
{
	padding: 20px 15px 15px 25px;
}

#newsTicker .calendarTitle
{
	float:left;
	width:62px;
	font-size: 11px;
	color: #999;
}

#newsTicker .viewAll
{
	float:right;
	width: 87px;
	text-align: right;
	margin-right:8px;
}

#newsTicker .viewAll a
{
	text-decoration: none;
	color: #999;
	font-size: 11px;
}
#newsTicker .viewAll a:hover
{
	color: #ccc;
}
#newsTicker .viewAll img
{
	vertical-align:top;
}

.newsRotator
{
	float:left;
	width:430px;
	margin-right: 20px;
	
}

.newsRotator a
{
	color: #FFF;
	text-decoration: none;
}

.newsRotatorButtons
{
	float: left;
	width:36px;
	
}


.radTickerNewsItems
{
	font-size: 11px;
	overflow:hidden;
	
}

.radTickerNewsItems span
{
	overflow:hidden;
	height: 16px;
	display:block;
}


/*twitter ticker */

 ul#tweetlist
 {
	 margin:0;
	 padding:0;
	 list-style: none;
 }
 
  ul#tweetlist li
 {
	 padding: 6px 0 0 12px;
	 height:19px;
	 overflow:hidden;
 }
 ul#tweetlist li span
 {
	 overflow:hidden;
	 display:block;
	 height: 27px;
 }
 

/* Cafe Pages / Sub Menu */


.subPageMenu a
{
	text-decoration:none;
}

.subPageMenu
{
	background: #525252 url(/images/cafes/cafe_submenu.jpg) no-repeat ;
	padding: 18px 0;
}

.subPageMenu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}


.MenuLink a:link, .MenuLink a:visited
{
	text-decoration:none;   
	margin: 0px;
	padding: 0px 0 0 24px;
	display:block;
	/*color:#D8D8D8;*/
	color: #fff;
	line-height:20px;
	letter-spacing: 0px;
	text-align: left;
	text-decoration:none;
	font-weight:bold;
	
	margin-left:1px;
	/*ie7 spacing issue fix*/
	width:188px;    
	font-size: 11px;
}

body.cafe .MenuLink a:link, body.cafe  .MenuLink a:visited
{
	margin: 0px;
	/*ie7 spacing issue fix*/
	width:150px;    
	font-size: 11px;
}


.subPageMenu .MenuLink.selected
{
  
	
}

.subPageMenu .MenuLink.selected a
{
	color: #000;
	  background-color:#DDDBDC;
	background-image: url(/images/cafes/Cafe_submenu_over.jpg);
	  background-color: #DDDBDC;
	  background-repeat: repeat-y;
	  background-position: 0 0;
}

body.cafe .MenuLink a:link, body.cafe .MenuLink a:visited
{
   padding: 0px 10px;
}

li.ListSubMenu a.LinkSubMenu 
{
	padding-left: 18px;
	line-height:20px;
   
}

li.ListSubMenu a.LinkSubMenu:hover 
{
  
	
}


.MenuLinkActive
{
	color: #000;
	/*background-color:#C7C7C7;*/
}
.MenuLink.MenuLinkActive a
{
	color: #000;
   
	
	background-image: url(/images/cafes/Cafe_submenu_over.jpg);
	  background-color: #DDDBDC;
	  background-repeat: repeat-y;
	  background-position: 0 0;
	/*padding-bottom:0;*/
}


.MenuLink.MenuLinkActive .SubMenuLink  a
{
	background:#333333;
	padding-bottom: 4px;
	/*ie7 spacing issue fix*/
	width:140px;
}

.subPageMenu  ul li.MenuDrop ul li.SubMenuLinkActive a.LinkSubMenu
{
	color: #FFFFFF;
	
}

li.MenuLink:hover
{
   
}

.MenuLink a:hover, .SubMenuLink a:hover
{
	color: #FFFFFF;
	 background-image: url(/images/cafes/Cafe_submenu_over.jpg);
	  background-color: #DDDBDC;
	  background-repeat: repeat-y;
	  background-position: 0 0;
	 
}

.MenuLink.MenuFlyout {
	background: url(/images/cafes/submenu_arrow.gif) no-repeat 162px 6px;
}

.MenuLink.MenuFlyout a:hover
{
	background-image: url(/images/cafes/Cafe_submenuarrow_over.jpg);
	background-position: 0 0;
}

.MenuLink.MenuFlyout:hover
{
	 background-image: url(/images/cafes/Cafe_submenuarrow_over.jpg);
	 background-position: 0 0;
	 background-repeat: repeat;
}

.MenuLink.MenuFlyout ul li a:hover
{
	background-image: none;
	background-color: #989898 !important;
}

.MenuLink.MenuDrop a:hover
{
	color: #FFFFFF;
	background-image: none;
}

.MenuLink a img.SubMenuFlyoutArrow {display: none; position:absolute; right:0px; top:0px; }

.MenuFlyout a img.SubMenuFlyoutArrow.ArrowUp {display: inline; }
.MenuFlyout a img.SubMenuFlyoutArrow.ArrowDown {display: none; }
.MenuDrop a img.SubMenuFlyoutArrow.ArrowUp {display: none; }
.MenuDrop a img.SubMenuFlyoutArrow.ArrowDown {display: inline; }

.subPageMenu  ul li a, .menu ul li a:visited {display:block; text-transform:uppercase; }

.subPageMenu  ul {padding:0; margin:0;list-style-type: none; width: 100%; z-index:10;}

body.cafe .subPageMenu  ul li {/*width: 170px;*/ margin:0 1px}
body.cafe .subPageMenu  ul li ul li { margin:0;}

.subPageMenu  ul li {margin:1px auto;   z-index:10; }


.subPageMenu  ul li.MenuFlyout {position:relative; /*background: url(/images/cafes/submenu_arrow.gif) no-repeat 162px 6px;*/}




.subPageMenu  ul li ul {display: none;  }
.barMenu ul li.MenuFlyout ul {margin-left: -1px;  }
.subPageMenu  ul li.MenuFlyout ul li a{/*padding-left: 20px; padding-right: 8px;*/ background: #C7C7C7;}
body.cafe .subPageMenu  ul li.MenuFlyout ul li a{width:158px;}


.subPageMenu  ul li.MenuDrop ul {display: block;   }
.subPageMenu  ul li.MenuDrop ul li {}
.subPageMenu  ul li.MenuDrop ul li a {display:block; color:#CCC; padding-left: 20px;  background-color: #333333;  }

/* IE7 and other browsers only */
.subPageMenu  ul li:hover a {color:#000;  }
.subPageMenu  ul li.MenuFlyout:hover ul {display:block; position:absolute; top:0; left:170px; padding-left: 0px; width: 187px; height:108px;   background: url(/images/cafes/submenu_2ndmenu.png) no-repeat 0px -8px;  }
.subPageMenu  ul li.MenuFlyout:hover ul li{margin: 0 1px;}
.subPageMenu  ul li.MenuFlyout:hover ul li a{background:none; width:auto;  }

.subPageMenu  ul li.MenuFlyout ul
{
	padding-top:1px;
}

.subPageMenu  ul li:hover ul li{width:171px;  }
.subPageMenu  ul li.MenuFlyout:hover ul li a {display:block; color:#000000;   line-height:20px;  }
.subPageMenu  ul li:hover ul li a:hover { color:#FFFFFF; background-color:#666;	 }




/*cafe pages/ history */

.CafeSubHeader.ContentID_42
{
	font-size:inherit;
	color: inherit;
	font-weight:inherit;
}


/*cafe pages/ memo */

.memoItem1
{
	margin-top: 27px;
	background: url(/images/cafes/memo_1.gif) no-repeat 0 0;
}
.memoItem2
{
	background: url(/images/cafes/memo_2.gif) no-repeat 0 0;
}
.memoItem3
{
	background: url(/images/cafes/memo_3.gif) no-repeat 0 0;
}
.memoItem4
{
	background: url(/images/cafes/memo_4.gif) no-repeat 0 0;
}
.memoItem5
{
	background: url(/images/cafes/memo_5.gif) no-repeat 0 0;
}
.memoItem6
{
	background: url(/images/cafes/memo_6.gif) no-repeat 0 0;
}
.memoItem7
{
	background: url(/images/cafes/memo_7.gif) no-repeat 0 0;
}
.memoItem8
{
	background: url(/images/cafes/memo_8.gif) no-repeat 0 0;
}
.memoItem9
{
	background: url(/images/cafes/memo_9.gif) no-repeat 0 0;
}
.memoItem10
{
	background: url(/images/cafes/memo_10.gif) no-repeat 0 0;
	
}
span.memoItem
{
	display:block;
	padding: 0 0 12px 35px;
	margin-bottom: 12px;
	border-bottom:1px solid #343434;
}

span.memoNumber
{
	display:block;
	float:left;
	width:30px;
}
span.memoContent
{
	 display:block;
	float:left;
	width:325px;
}

.CafeSubHeader.ContentID_29
{
	color: #CCC;
}

.memoItem.last
{
	border:none;
}

/*cafe page | events */

.EventGridHeader
{
	text-align:left;
	text-transform:uppercase;
}

#eventsList .cafePageSubTitle
{
	margin: 26px 0 10px 0;
	 border-bottom:solid 1px #343434;
}

.EventGridRow a
{
	text-decoration:none;
	font-size:11px;
}
.CafeSubHeader.ContentID_104
{
	display:block;
	position:relative;
	
}

#headerPager
{
	position:absolute;
	right:0;
	bottom: 0px;
	color:#ccc;
	font-size:12px;
}

.eventsPager.last
{
   height:30px;
}

.EventGridHeader
{
	padding: 0 10px ;
}

.EventGridCell
{
	padding-left: 4px;
}
.EventGridCell.date
{
	text-transform:uppercase;
}

.EventGridRow.even{
	background-color:#1C1C1C;
	border: solid 1px #464646;
	border-left:none;
	border-right:none;
}

.eventsPager 
{
	color: #999;
}

.eventsPager a
{
	text-decoration:none;
}

/* cafe / tour */
#cafeMainContentContainer.tour #col2 .container {
padding:15px 0 15px 5px;
}
#cafeMainContentContainer.tour #col2 .container .cafePageTitle
{
	margin-left: 10px;
}

/*cafe splash page */

#subPageLeft
{
	float:left;
	width:214px;    
}


body.cafeHome #subPageLeft, body.splash #subPageLeft
{
	 width:263px;
	 background: url(/images/splashPageLeft_bg.jpg) no-repeat 0 0;
}

body.locations #subPageContent
{
	 background: #000 url(/images/subpageRight_bg.jpg) no-repeat 0 0;
	
}

#subPageLeft .contentContainer
{
	background: url(/images/subPageLeft_bg.jpg) no-repeat 0 0;
	padding: 32px 0px 32px 23px;
	min-height: 170px;
}

body.cafeHome #subPageLeft .contentContainer
{
	 background: url(/images/cafes/cafesplsh_shdwLeft.jpg) no-repeat 0 0;
}

body.splash #subPageLeft .contentContainer
{
	 background: url(/images/splashpageLeft_BG.jpg) no-repeat 0 0;
}

#subPageRight
{
	float:left;
	background: url(/images/subpageRight_bg.jpg) no-repeat 0 0;
	width:766px; 
	min-height: 189px;   
}



body.cafeHome #subPageRight, body.splash #subPageRight
{
	width:717px;
}


#subPageRight .contentContainer
{
	padding: 13px 25px 20px 20px;
}

#subPageRight .leftCol
{
	float:left;
	width:470px;
	
}

body.twoColumn #subPageRight .leftCol
{
	width:727px;
}

#subPageRight .rightCol
{
	float:right;   
	width:190px;
	text-align:right;
}

#subPageRight .subNav
{   
	width:717px;
	height:104px;    
}

body.cafeHome #subPageRight .subNav
{
	background: url(/images/cafes/home/cfsplsh_orgnbar.jpg) no-repeat; 
}

#subPageRight .subNav .container
{
	padding: 24px 20px;
}

#subPageRight .subNav ul
{
	margin:0;
	padding:0;
	list-style: none;
}

#subPageRight .subNav ul li
{
	float:left;
	width: 163px;
	margin:0 2px;
	text-align:center;
}

#subPageRight .subNav ul li.first
{
	margin-left:0;
}

#subPageRight .subNav ul li a
{
	color: #FFF;
	
	text-decoration:none;
	text-transform:uppercase;
	font-size: 16px;
	display:block;
	height:46px;
	padding-top: 20px;
}

body.cafeHome #subPageRight .subNav ul li a:hover
{
	color: #52200a;
	
}
.findLocationBoxSmall #findLocationLayer1
{
	width:262px;
}

.findLocationBoxSmall #findLocationLayer2
{
	background: url(/images/findlocationBG_small.png) no-repeat;
}
.findLocationBoxSmall .viewLocationMapLink
{
	right:16px;
	width: 64px;
	text-align:center
}
.findLocationBoxSmall .txtLocationSearch
{
	width:100px; 
}

.comingSoonItem
{
	padding: 2px 0;
}

.comingSoonLocation
{
	color:#fff;
	font-weight:bold;
}

.comingSoonLocation a, .comingSoonLocation a.inactive
{
	color: #CCC;
	text-decoration: none;
}

/*cafe home /news events box*/

#newsEventsBox
{
	background-color: #2f2f2f;
	padding: 10px;
}

#newsEventsBox .heading
{
	background-color: #1b1b1b;
	padding: 12px;
	height:auto;
}

#newsEventsBox .heading .title
{
	color: #fff;
	font-weight:bold;
	font-size: 14px;
}

.mainContainer .title a
{
	text-decoration:none;
}

#newsEventsBox .newsEvents
{
	margin-top: 8px;
}
#newsEventsBox .newsEvents a
{
	color: #CCC;
	text-decoration:none;
}
#newsEventsBox .newsEvents a:hover, #newsEventsBox .newsEvents a span:hover
{
	color: #FFF;
	text-decoration:underline;
}

#newsEventsBox .RSSItem
{
	padding: 6px 0;
	border-bottom: solid 1px #666;
}


#newsEventsBox .RSSItemDate
{
   /*float:left;
   display:block;
   */
   font-weight:bold;
   
   width:60px;
   color: #FFF;
}
#newsEventsBox .RSSItemTitle
{
   /*float:left;
   display:block;*/
   
}

#newsEventsBox .newsEvents.news .RSSItemTitle
{
	width:352px;
}

#newsEventsBox .newsEvents.events .RSSItemTitle
{
	width:285px;
}

#newsEventsBox .RSSItemLocation
{
	/*float:right;
	display:block;*/
	width:75px;
	overflow:hidden;
	color: #787878;
}

/* cafe pages/gallery detail*/
 a.HighlitedNum
{
	font-weight: bold;
	color: Gray;
	text-decoration: none;	
}
.DLTD
{
	vertical-align: top;
}
a.galleryHome  
{
	display: block;            
	background-color: Transparent;           
	width: 104px;
	TEXT-DECORATION: none;
	outline: none;
	color: #999;
	font-size:11px;
}
a.galleryHome:hover { color: #CCC}
	   
.albumTitle
{
	font-weight: bold; 
	color: #fff;
	text-transform:uppercase;
}
	   
.photoDescription
{
	vertical-align: top; 
	font-size:10px;
	width:132px; 
	text-align:left; 
	padding-top:2px;
}
	   
a.albumNextPrev{
text-decoration: none; 
text-transform:uppercase;
		
color:#CCC;
}
	   
a.albumNextPrev:hover
{
	color: #FFF;
}

/*cafepages / Gallery */
		
.PhotoGridViewTd table
{
	display: inline;
}
.PhotoGridViewTd td
{
	border: none;
	font-style: normal;
	font-family: Georgia;
	font-size: 12px;
	font-weight: normal;
}
.PhotoGridViewTr tr
{
	border: none;            	
}
.PhotoGridViewTable
{
	border: none;
}
		
a.photoTitle
{
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}


/*philanthropy*/
#philanthropySlideshow
{
	min-height: 350px;
}


.RadRotator_Default .rrClipRegion 
{
	border:none;
}

.philanthropyHeaderTitle, .subPageHeaderTitle
{
	position:absolute; bottom:13px; left: 26px;
}

/*scrollball styles */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: url(../images/bot_drp_scrolltrack.gif) repeat-y scroll 0 0;
	
}
.jScrollPaneDrag {
	position: absolute;
	background: url(../images/bot_drp_scrollbar.gif) no-repeat scroll 0 0;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
	left: 0px;
	border-bottom: solid 1px #999;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/botdrp_arrowup.gif) no-repeat scroll 0 0;
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/bot_drp_arrowdown.gif) no-repeat scroll 0 0;
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}


/* careers styles */

.subPageTopHeaderTitleImg
{
	position:absolute;
	bottom: 7px;
	left:10px;
}

.subPageTitle
{
	font-size: 18px;
	font-weight:bold;
	text-transform:uppercase;
	color: #FFF;
	padding-bottom: 8px;
	border-bottom: solid 1px #333;
	margin-bottom:8px;
}

.subPageSubHeaderTitle
{
	font-size: 14px;
	font-weight:bold;
	text-transform:uppercase;
	color: #CCC;
	padding-bottom: 4px;
	border-bottom: solid 1px #333;
	margin-bottom:14px;
}


.subPageTitle2
{
	font-size: 18px;
	font-weight:bold;
	text-transform:uppercase;
	color: #FFF;
   
	margin-bottom:16px;
}

.careersHotelList
{
	margin: 8px 0 8px 0;
}

.careersHotelList a
{
	font-size: 12px;
	color: #fff;
	text-decoration:none;
}

.careersHotelList a:hover
{
	color: #CCC;
}

 body.wide.liveOrlando #outterContainer, body.liveBlog #outterContainer
{
	background: url(/images/live/live_BG_interior.jpg) no-repeat scroll center 0;
	
}

 body.wide.careers #outterContainer
{
	background: url(/images/careers/BG_careers.jpg) no-repeat scroll center 0;
	
}
body.careers #subPageRight .subNav
{
	background: url(/images/careers/mainlink_BG.jpg) no-repeat;   
	margin: 24px auto 12px auto;
	width: 672px;  
	height: auto; 
}

body.careers #subPageRight .subNav a:hover
{
  color:#85e4cf;
}


body.careers #subPageRight .subNav .container
{
	padding:0;
}


body.careers .subNav ul li a
{
	font-size: 18px;
}
#subPageRight .subNav ul li.item1
{
	width:162px;
}

body.careers #subPageRight .subNav ul li.item1
{
	 width:314px;
}


#subPageRight .subNav ul li.item2
{
	width:221px;
}

body.careers #subPageRight .subNav ul li.item2
{
	 width:346px;
}



body.careers .content {
	width:710px;
	padding:18px 0 15px 30px;
	float:left;
}

#subPageRight .subNav ul li.item3
{
	width:275px;
}

body.careers.splash #subPageLeft .contentContainer
{
	background: url("/images/careers/sidedrpshdw.jpg") no-repeat;
}

.subPageSubTitle
{
	font-weight:normal;
	font-size: 12px;
	color: #CCC;
}

.subPageSubTitleBold
{
	font-weight:bolder;
	font-size: 12px;
	color: #CCC;
}

.subPageSubTitle2
{
	color: #CCC;
	font-size: 12px;
}

.subPageSubHeader
{
	font-weight:normal;
	font-size: 12px;
	text-transform:uppercase;
	color:#fff;
}

.subPageSubHeaderBold
{
	font-weight:bolder;
	font-size: 12px;
	text-transform:uppercase;
	color:#fff;
}

.subPageInformation
{
	font-weight:normal;
	font-size: 10px;
	text-transform:uppercase;
	font-style:italic;
	color:#fff;
}


.jobPostings 
{

	background: url(/images/careers/sideboxBG.jpg) no-repeat; 
	height:542px;
	
}

.jobPostings  .title
{
	height: 30px;
	color: #FFF;
	text-transform:uppercase;
	font-size: 16px;
	font-weight:bold;
	padding: 20px 20px 0px 20px;
}
.jobPostings  .posts
{
	padding: 0px 20px 0px 20px;
	
}

.jobPostings  .posts a.jobTitle
{
	color:#fff;
	font-size: 12px;
	 text-decoration:none;
	 font-weight:bold;
}

.jobPostings  .posts a.jobTitle:hover
{
	text-decoration:underline;
}
/*live splash style s*/

body.wide.live #outterContainer
{
	background: url(/images/live/live_BG_interior.jpg) no-repeat scroll center 0;
	
}

body.live #subPageRight .subNav
{
	background: url(/images/live/livelinkbarBG.gif) no-repeat;   
	margin: 24px auto 12px auto;
	width: 719px;  
	height: auto; 
}

body.live #subPageRight .subNav a:hover, body.live #subPageRight .subNav li.selected a
{
	color:#0B5079;
}


body.live #subPageRight .subNav .container {
	padding: 0 0px;
}

body.live #subPageRight .subNav ul li.item1
{
	width: 205px;
}

body.live #subPageRight .subNav ul li.item2 
{
	width: 267px;
}

body.live #subPageRight .subNav ul li.item3
{
	width:232px;
}


/*members styles*/
 body.wide.accountUpdate #outterContainer
{
	background: url(/images/accountupdate/members_BG.jpg) no-repeat scroll center 0;
	
}

body.wide.accountUpdate #subPageLeft .contentContainer 
{
	background: url("/images/accountupdate/members_bodyshadow.jpg") no-repeat scroll 0 0 transparent;
}

body.wide.accountUpdate #subPageRight {
   background: url("/images/accountupdate/members_bodyshadow.jpg") no-repeat scroll 0 0 transparent;
}

body.wide.accountUpdate .subPageTopHeaderTitleImg
{
	position:absolute;
	bottom: 15px;
	left:25px;
}

#subPageLeft {
	
  
}



.validationSummaryBox
{
	background-color: #FBE7A8;
	padding: 8px 12px;
	border:solid 1px #C60206;
	color: #C60206;
	
}

.error.validationSummaryBox
{
	display: block;
}


/*corporate styles*/
 body.wide.corporate #outterContainer
{
	background: url(/images/corporate/corp_mainBG.jpg) no-repeat scroll center 0;
	
}

body.corporate #subPageRight .subNav
{
	background: url(/images/corporate/corp_linkbarBG.gif) no-repeat;   
	margin: 24px auto 12px auto;
	width: 719px;  
	height: auto; 
}

body.corporate #subPageRight .subNav a:hover
{
	color:#874A14;
}


body.corporate #subPageRight .subNav .container {
	padding: 0 10px;
}

body.corporate #subPageRight .subNav ul li.item1
{
	width: 202px;
}

body.corporate #subPageRight .subNav ul li.item2 
{
	width: 165px;
}

body.corporate #subPageRight .subNav ul li.item3
{
	width: 163px;
}

body.corporate #subPageRight .subNav ul li.item4
{
	 width: 152px;
}


body.corporate #newsEventsBox .jobPosting {
	border-bottom: 1px solid #666666;
	padding: 6px 0;
}

body.corporate .jobPostings
{
	background:none;
	height: auto;
}

body.corporate  .jobPostings .posts {
	padding: 0 14px;
	margin-top: 8px;
}

/*group sales styles */

 body.wide.groupSales #outterContainer
{
	background: url(/images/groupsales/mainBG.jpg) no-repeat scroll center 0;
	
}

body.groupSales #subPageRight .subNav
{
	background: url(/images/groupsales/gssplsh_redbar.jpg) no-repeat;      
}

body.groupSales #subPageRight .subNav a:hover
{
	color: #4e060f;
}

body.groupSales #subPageRight .subNav ul li.i1
{
	width:210px;
}

body.groupSales #subPageRight .subNav ul li.i2
{
	width:192px;
}

body.groupSales #subPageRight .subNav ul li.i3
{
	width:258px;
}

.gsHeadlines  .container
{
	
	margin: 0 auto;
}
.gsHeadlines  .title
{
	height: 30px;
	color: #FFF;
	text-transform:uppercase;
	font-size: 16px;
	font-weight:bold;
	padding: 20px 20px 0px 20px;
}

.gsHeadlines  .news
{
	margin-bottom: 20px;
}

.gsHeadlines  .news a
{
	color: #CCC;
	text-decoration:none;
}

.gsHeadlines  .news a:hover
{
	color:#FFF; 
}


.gsHeadlines  .news a .RSSItemDate
{
	color: #FFF;
	font-weight:bold;
}

.gsHeadlines  .news .RSSItem
{
	margin-bottom: 8px;
}

/* philanthropy styles */
.subPageTopBar
{
	background:url(/images/subpage_topbar.jpg) no-repeat;    
	height:44px;
	padding: 20px 20px 0 30px;
}

.subPageTopBar .left
{
	width: 510px;
}

.subPageTopBar .right
{
	width:185px;
}

 body.wide.philanthropy #outterContainer
{
	background: url(/images/philanthropy/wide_philanthropy.jpg) no-repeat scroll center 0;
	
}


#philanthropyHeader
{
	min-height:141px;
}
body.philanthropy #subPageRight .subNav
{
	background: url(/images/philanthropy/phsplsh_purplebar.jpg) no-repeat;      
}

body.philanthropy #subPageRight .subNav ul li a:hover
{
	color: #421c25;    
}

.philHeadlines 
{

	background: url(/images/philanthropy/philanthropy_headlines.jpg) no-repeat; 
	height:400px;
	
}

.philHeadlines  .container
{
	
	margin: 0 auto;
}
.philHeadlines  .title
{
	height: 30px;
	color: #FFF;
	text-transform:uppercase;
	font-size: 16px;
	font-weight:bold;
	padding: 20px 20px 0px 20px;
}

.philHeadlines  .news
{
	padding: 10px 20px 20px 20px;
}

.philHeadlines  .news a
{
	color: #CCC;
	text-decoration:none;
}

.philHeadlines  .news a:hover
{
	color:#FFF; 
}


.philHeadlines  .news a .RSSItemDate
{
	color: #FFF;
	font-weight:bold;
}

.philHeadlines  .news .RSSItem
{
	margin-bottom: 8px;
}

.philMerchDesc
{
	padding: 4px 0;
}

.philMerchDesc a
{
	color: #FFF;
	font-size:11px;
	text-decoration:none;
}

.philMerchDesc a:hover
{
	color: #999;
}

.philanthropyHeaderTitle, .subPageHeaderTitle
{
	left:22px;

}

.philSideboxTitle
{
	width:190px; 
	margin: 0 auto; 
	padding: 12px 0 0 0; 
	height: 22px; 
	color: #FFF; 
	font-size: 14px; 
	text-transform:uppercase; 
	text-align:center; 
	font-weight:bold;
}

.philSlideShowTitle
{
	text-align:left;
	 margin-top: 4px;
	 font-weight:bold;
	 color:#FFF;
}

.philSlideShowDesc
{
	text-align:left;
}

/*events popup*/

 .eventsPopupContainer
		{
			width:577px; 
			height: 635px; 
			background: url(/images/newseventspopup/newspopBG.png) no-repeat scroll 0 0;
		}

 .eventsPopupHeader
		{
			background: url(/images/newseventspopup/eventpop_header.jpg) no-repeat;
			height:37px;
			width:534px;
		}



/*event popup themes */
	
	
	/*pinktober*/
	.eventsPopupContainer.pinktober
	{
		background: url(/images/philanthropy/pinktober2011/poupBG.png) no-repeat scroll 0 0;
	}
	 .eventsPopupContainer.pinktober .eventsPopupHeader
		{
			background: url(/images/philanthropy/pinktober2011/events_popup_header.jpg) no-repeat;        
			
		}
		
		
		
		 /*pinktober*/
	.eventsPopupContainer.live
	{
		background: url(/images/live/livenewsBG.png) no-repeat scroll 0 0;
	}
	 .eventsPopupContainer.live .eventsPopupHeader
		{
			background: url(/images/live/liveeventsDIV_header.gif) no-repeat;        
			
		}
	
	/* end event popup themes */

/*news popup */
 div.NewsTitle
		{
			font-weight: bold;
			font-size: 16px;
			margin-top: 4px;
			margin-bottom: 2px;
			color: #FFF;
		}

		div.NewsDate
		{            
			font-size: 11px;
			margin-bottom: 12px;
			color: #999;
		}
		
		div.NewsDescription
		{
			padding-right: 15px;
		}

		body.newsPopup {
			font-family: Trebuchet MS;
			font-size: 12px;
			color: #c3c3c3;
			background: none;
			margin: 0;
		}
		
		.newsPopupContainer
		{
			width:577px; 
			height: 635px; 
			background: url(/images/newseventspopup/newspopBG.png) no-repeat scroll 0 0;
		}
		
	   
		
		.newsPopupHeader
		{
			background: url(/images/newseventspopup/newspop_header.jpg) no-repeat;
			height:37px;
			width:534px;
		}
		
	   
		
	/*popup themes */
		
		/* live splash */
		  .newsPopupContainer.live
		{
			 background: url(/images/live/livenewsBG.png) no-repeat scroll 0 0;
		}
		  .newsPopupContainer.live .newsPopupHeader
		{
			background: url(/images/live/livenewsDIV_header.gif) no-repeat;        
			
		}
		
		/*group sales */
		 .newsPopupContainer.groupsales
		{
			 background: url(/images/groupsales/newspopBG.png) no-repeat scroll 0 0;
		}
		  .newsPopupContainer.groupsales .newsPopupHeader
		{
			background: url(/images/groupsales/newspop_header.jpg) no-repeat;        
			
		}
		
		
		/*pinktober */
		 .newsPopupContainer.pinktober
		{
			 background: url(/images/philanthropy/pinktober2011/poupBG.png) no-repeat scroll 0 0;
		}
		  .newsPopupContainer.pinktober .newsPopupHeader
		{
			background: url(/images/philanthropy/pinktober2011/news_popup_header.jpg) no-repeat;        
			
		}
		
		/*philanthropy */
		 .newsPopupContainer.philanthropy
		{
			 background: url(/images/philanthropy/poupBG.png) no-repeat scroll 0 0;
		}
		
		  .newsPopupContainer.philanthropy .newsPopupHeader
		{
			background: url(/images/philanthropy/philanthropy_popup_header.jpg) no-repeat; 
			
		}
		
		
		  /*corporate */
		 .newsPopupContainer.corporate
		{
			 background: url(/images/corporate/corpnewsBG.png) no-repeat scroll 0 0;
		}
		
		  .newsPopupContainer.corporate .newsPopupHeader
		{
			background: url(/images/corporate/corpnews_header.jpg) no-repeat; 
			
		}
		
		
	/*end popup themes */
		
		body.newsPopup a:link, body.newsPopup a:active {
			color:#ffffff;
			text-decoration:underline;
		}
		body.newsPopup a:hover, body.newsPopup a:visited {
			color:#d3d3d3;
		}      

		body.newsPopup  #footer {	      
			text-align:center;	      
			height: 39px;     
			color: #666;
			background:none;
			min-height: 0;	    
		}   
		
		
	  


		
/* locations */

.locatorLocations .regionHeader
{
	background-color: #1B1B1B;
	padding: 6px 8px;
	margin-bottom: 8px;
	position:relative;
} 


.suggestedSearch a
{
	text-decoration:underline;
}

.locationsNoResultsFound
{
	margin-bottom:12px;
}
.regionContainer
{
	display:none;
}

.selectedRegion .regionContainer, .regionContainer.search, .regionContainer.show
{
	display:block;
}

.locatorLocations .regionHeader .regionName
{
	color: #FFF;
	font-size: 16px;
	font-weight:bold;
	float:left;
	width: 500px;
	text-transform:uppercase;
} 
.locatorLocations .regionHeader .regionHide
{
	float:right;
	text-align:right;
	font-weight:bold;
	padding-top: 3px;
}

.locatorLocations .regionHeader .regionHide a
{
	text-transform:uppercase;
	color: #666;
	text-decoration:none;
}
 
.locatorLocations  .countryHeader
{
	text-transform:uppercase;
	font-weight:bold;
	padding: 4px 0;
	border-bottom: solid 1px #333;
	margin-bottom: 4px;
}   

.locatorLocations .locations
{
	margin: 12px 0;
}

.locatorLocations .location.simple
{
	/*width: 25%;
	float:left;*/
}  

.locatorLocations .location.advanced, .locatorLocations .location.search
{
	padding: 8px 0;
	border-top:1px solid #333333;
}

.locatorLocations .location.advanced.first, .locatorLocations .location.search.first
{
	border:none;   
}

.locatorLocations .location.advanced .locationIconNumber
{
	display:none;
}

.locatorLocations .location a
{
	text-decoration:none;
}

.location a .prefix
{
	text-transform:uppercase;
	color:#CCC;
	font-weight:bold;
}

.locatorLocations .location a .name
{
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
}

.locatorLocations .location.cafe a
{
	color: #ccc;
}

.locatorLocations .location.cafe a:hover
{
	color: #FFF;
}

.locatorLocations .location.live a
{
	color: #1c93df;
}

.locatorLocations .location.bar a
{
	color: #bb9117;
}

.locatorLocations .location.live a:hover
{
	color: #70c7ff;
}

.locatorLocations .location.bar a:hover
{
	color: #e8bb38;
}

.locatorLocations .location.cafe a:hover
{
	color: #FFF;
}

.locatorLocations .location.hotel a, .locatorLocations .location.casino a
{
	color: #8876CA;
}

.locatorLocations .location.hotel a:hover, .locatorLocations .location.casino a:hover
{
	color: #AB89FF;
}


.findLocationDirections
{
	font-size:11px;
	color: #333;
}


.filterOptionText
{
	bottom: 2px;
	position: relative;
}
.locationsSearchFilter
{
	background:url(/images/locations/search_BG.jpg) no-repeat;
	width:189px;
    height:335px;
}

.locationsSearchFilter .locationSearch
{
	height: 142px;
   
}

.locationsSearchFilter .locationSearch .container
{
	padding:17px;
}

.locationsSearchFilter .locationFilter .container
{
	 padding:17px;
}

.locationsSearchFilter .locationFilter
{
	height:170px;
   
}

.locationFilterTable 
{
	position:relative;
	left:-4px;
}

.locationFilterTable td
{
	color: #fff;   
}

.locationIconNumber
{
	position:absolute; 
	left: 5px; 
	top: 2px;
	font-weight:bold;
	font-size:12px;
	width: 14px;
	height: 13px;
	text-align:center;   
	display:block;
}


/*location map styles */

	.mapInfoDivider
	{
		border-bottom:solid 1px #ccc;
		height:1px;
		padding: 6px 0;
		margin-bottom: 6px;
	}
	
	 .mapLocationInfoContainer
	{
		border-bottom: solid 1px #ccc;
		margin-bottom: 4px;
	}
	
	.mapInfo 
	{
		color: #666;
	}
	
	.mapInfo a
	{
		color: #666;
	}
	
	.mapInfo a:hover
	{
		color: #999;
	}
	
	img.mapInfoClose
	{
		 
		  width: 18px;
		  height:19px;
		  cursor:pointer;
	}
	
	.mapInfoTopDiv
	{
		text-align:right;
		position:absolute;
		top:9px;
		right:9px;        
	}
	
	.mapInfoContentDiv
	{
		padding:20px;
	}
	
	.mapLocationType
	{
		color: #989898;
		font-size:11px;
	}
	.mapLocationName
	{
		font-weight:bold;
		color: #000;
		text-transform:uppercase;
		margin-bottom:0px;
	}
	
	.mapLocationThumb
	{
		float:left;
		width:125px;
		min-height: 67px;
		margin-top:2px;
	}
	
	.mapLocationInfo
	{
		float:left;
		width:170px;
		line-height:14px;
		position:relative;
		top:-3px;
		min-height:82px;
	}
	
	.mapLocationActionLinks
	{
		/*margin-bottom:4px;*/
		height:42px;
	}
	
	.mapLocationActionLinks a,.mapLocationActionLinks 
	{
		font-size:11px;
	}
	
	.mapLocationAddress, .mapLocationPhone, .mapLocationVisit
	{
		font-size: 11px;
	}
	
	.mapLocationSocial
	{
		padding:5px;
		background-color:#E4E4E2;
	}
	
	 .mapLocationSocial img
	{
		vertical-align:top;
	}
	
	
	
	/* directions */
	
	.directionsContainer
	{
		
	   display:none;
		border-top:1px solid #333333;
		padding:12px 0;
		margin-top: 8px;
		/*position:relative;*/
	}
	
	img.directionsClose
	{
		position:absolute; top:0; right:0;
	}
	
	#directionsLocation img.directionsClose
	{
		display:none;
	}
	
	#directionsLocation 
	{
		 margin-bottom: 12px;
		 position:relative;
	}
	
	#directionsLocation.hasDirections
	{
			
		padding-top: 12px;
		
	}
	
	.location.dir  .directionsContainer
	{
	   display:block; 
	}
	
	
	 .directionsContainer .container
	{
		background-color: #000;
		/*padding:20px 12px;
		position:relative;*/
	}
	
	.directionsContainer .container .directionsForm
	{
		background-color: #1b1b1b;
		padding:20px 12px;
	}
	
	
	/* google directions styles &*/
	
    .adp, .adp table, .adp-list {
            color: #cccccc;
        }

	.adp-list 
	{
		background-color: #1b1b1b;
		border:none;
	}
	
	.adp-listsel 
	{
		background-color: #333;
	}
	
	.adp-placemark 
	{
		background-color: #1b1b1b;
		border:none;
		color: #CCC;
	}
	
	.adp-text
	{
		padding-left: 5px;
	}
	
	.adp-summary,.adp-directions 
	{
		margin: 0 auto;
		width:655px;
	}
	
	.adp-step, .adp-stepicon, .adp-substep 
	{
		border-top-color:#333;
	}
	
	
	/*Live */
	.featuredEventBox{
		background-color: #2F2F2F;
		padding: 20px 80px;
		position:relative;
		height:195px;
	}
	
	.eventItem
	{
		min-height: 82px;
		border-top: solid 1px #484848;
		padding: 18px 0;
	}
	
	#fbNewsList li
	{
		padding: 8px 0;
		border-bottom: solid 1px #6B7A81;
	}
	
	.EventItemButtonText
	{
		position:absolute;
		top:4px;
		left:0;
		width: 86px;
		height: 42px;
		text-align:center;
		display:block;
		padding: 5px;
		font-size: 11px;
	}
	
	.eventItemThumb{width:140px;}
	
	.eventItemTitle{width:230px;}
	
	.eventItem.wide .eventItemTitle{width:438px;}
	
	.eventItemActions{width: 100px;}
	
	.photoAlbumItem
	{
		background-color:#1A1A1A; width:160px; height:160px;
	}
	
   
	#liveEventPopup, #liveEventPopup *
	{
	  
		z-index:1000;
	 
	   
	}
	
   body.liveOrlando #subPageContent
   {
	   padding-bottom: 45px;
   }
   
	body.liveEventPopup 
		{
			margin:0;
			background-color: transparent;
			color:#CCC;
			font-family:Trebuchet MS;
			font-size:12px;
		}   
		
		 body.liveEventPopup  a
		{           
			color:#FFF;
			text-decoration:underline;           
		}  
		
		 body.liveEventPopup  a:hover
		{           
			color:#CCC;
			text-decoration:underline;           
		}  
		
		body.liveEventPopup .eventTitle, .liveEventDetails .eventTitle
		{
			font-weight: bold;
			color:#FFF;
			
			display:block;
		   
		}    
		
		body.liveEventPopup .eventLabel, .liveEventDetails .eventLabel
		{
			color: #999;
			font-weight:bold;
			text-transform:uppercase;
		}
		
		 body.liveEventPopup .eventSpacer, .liveEventDetails .eventSpacer
		{
			padding: 8px 0;
		}    
		
		body.liveEventPopup a
		{
			color: #ccc;
		}   
		
		body.liveEventPopup a:hover
		{
		 color: #FFF;   
		} 
		
		body.liveEventPopup #stwrapper
		{
			top: 200px !important;
		} 
	
 


/*news popup photo gallery */

div.postPhotoGallery{
	background-color:#111111;
	padding: 14px;
	position:relative;
}

.postPhotoGallery .title
{
	text-transform:uppercase;
	padding: 0 0 4px 4px;
	
}

.postPhotoGallery .photo
{
	float:left;
	width: 25%;
	height: 85px;
	overflow:hidden;
   
	text-align:center;
}
.postPhotoGallery .photo.first
{
	clear:both;
}

.postPhotoGallery .photo.last
{
   
}


/*corporate styles */

#logoPopup
{
	background: url(/images/corporate/corp_logosDIVBG.png) no-repeat scroll 0 0;
	width:583px;
	height: 737px;

	
}

#logoPopup .container
{
	width:534px;
	padding: 24px 0 0 0;
	margin: 0 auto;
	
}

#logoPopup .container .content
{
   padding: 14px;
   width:490px;
   
}

.logos .logo
	{
		margin: 0 11px;
	}
	
	.logos .logo.first,.logos .logo.last
	{
		margin: 0;
	}
	
	 .divlogos 
	{
		padding: 0px 12px;
	}
	
	.divlogos .logo
	{ vertical-align:middle;
		margin-right:30px;
	   
		margin-left: 12px;*/
	}
   
	.divlogos .logo.first
	{
		margin-left: 12px;
	   margin-right:30px;
	}
	
	.divlogos .logo.last
	{
	   
	}
	
	
	#logoPopup.logoOptions tr td
	{
		padding-bottom:20px;
	}
	
	#logoPopup .formLabel{width: 80px; float:left;}
	
	#logoPopup .formInput{width: 185px; float:left;}
	
	#logoPopup .formSpacer{clear:both; padding:0px 0;}
	

    /*start updates styles for new redesign*/

    #subPageRight .content{ width: 740px;}

.valigntt{vertical-align:text-top;}


body.liveOrlando #subPageRight .content{ width: 720px;}

/*location page styles*/
.locationMapJumpDDL{color:#000; font-weight:normal;}
body.wide input[type="radio"], input[type="checkbox"]{
    margin: 2px;
}


#fbNewsList li a{color: #fff;}
/* end sub page styles*/


/*cafe page styles*/
#cafeMainContentContainer,#subPageContent{background-color: #000;}


.splash-header-title, .subpage-header-title{
    text-transform:uppercase;
    position:absolute;
    left: 26px;
    bottom: 20px;
    font-size: 24px;
  
    color: #fff;
    font-family: 'Lato',sans-serif,'Trebuchet MS';
	font-weight: 700;
	text-shadow: 2px 2px 1px #000;
	
}

.subpage-header-title
{
    bottom: 12px;
    left: 24px;
}


#RadRotatorMain{padding-top: 30px;}
/*end updates styles for new redesign*/
