/*Dynamic CSS Stylesheet Generated at 12/2/2014 11:21:38 PM*/

/*CSSFile:/styles/main/main.cafes.css*/



/* Cafe Page Styles */

.bannerDivider, .bannerSpacer
{
  
   padding:7px 0;
}

/*cleanup styles*/
#col2 p
{
    text-align:left;
    margin:4px 0;
}
#col2 center
{
    text-align:left;
}


/* cafe / main styles */
#cafeMainContentContainer .fbLike
{
    margin-top: 20px;
}


span.cafePageTitle, div.cafePageTitle
{
    color:#FFF;
    font-size: 20px;
    font-weight: bold;
    display:block;
    border-bottom:solid 1px #343434;
    padding: 0 0 2px 0;
    margin: 4px 0 10px 0;
    text-transform: uppercase;
}

.cafePageSubTitle
{
    color:#CCC;
    font-size: 16px;
    font-weight: bold;
    display:block;   
    padding: 0 0 2px 0;
    margin: 0px 0 0px 0;
    text-transform: uppercase;
}


.CafeAltHeaderCafeName
{
    display:none;
}

#cafeLeft
{
    float:left;
    width:172px;
}
#cafeRight
{
    float:left;
    width:605px;
    background: #000000 url(/images/cafes/calendarBOT_BG.jpg) no-repeat 0 0px;
    min-height: 200px;
}

#cafeMainContentContainer.onecolumn #cafeLeft
{
    width:0;
    display:none;
    
}
#cafeMainContentContainer.onecolumn #cafeRight
{
    background: #000000 url(/images/cafes/menu_bg.jpg) repeat-x 0 0px;
    width:100%;
}
#cafeMainContentContainer.onecolumn #col2
{
    width:100%;
}


#newsTicker
{
    width:605px;
    background: #000000 url(/images/cafes/calendarBG.jpg) no-repeat;
    margin-bottom: -12px;
}


.divFeature
{
    margin-bottom: 4px;
}

.newsTickerSpacer
{
    padding: 4px 0;
}

#col1
{
    width: 172px;
    float:left;
}

#col2
{
    width: 390px;
    
    float:left;
}
#col2 .container
{
    padding: 15px 0 15px 15px;
}

#cafeMainContentContainer.twocolumn #col2
{
    width: 590px;
    
}


#cafeContainer
{
    background-color: #000;
}

#col3
{
    width:200px;
    float:right;
}
#col3 .container
{
    padding: 15px 0px;
}

#cafeSocialButtons
{
    text-align:right;
    margin:0 12px 14px 0;
}

.leftContentContainer{
    background: #000000 url(/images/cafes/submenu_botshadow.jpg) no-repeat left top ;
    padding: 14px 0 12px 10px;
    min-height:50px;
}

.CafeSubHeader
{
    font-weight: bold;
   color:#FFF;
    font-size: 11px;
}
.participating_top
{
    margin-top:12px;
}

.memorabiliaHeading
{
    text-transform: none;
    margin: 4px 0 12px 0;
} 

.cafeDirections
{
    display:block;
    padding:5px;
    background-color: #000;
  
   
}

.cafeDirections #googleMap
{
    color:#333;
}


/* cafe menu select */

.cafeSelectMenu
{
    width:387px; 
    margin:0 auto; 
    text-align:center;
    min-height:500px;
}

.cafeSelectMenu .selectCafeBox
{
    background: url(/images/cafes/menu_box.jpg) no-repeat; 
    width:273px; 
    height:62px; 
    margin:0 auto;
}

.cafeSelectMenu .selectCafeBox .selectCafeText
{
    color: #000;
    font-weight:bold;
    font-size: 12px;
    padding: 8px 0 4px 0;
    display:block;
}


/*google map and directions title */
.CafeSubHeader.ContentID_51
{
    position:relative;
    left:-5px;
}
 
#getDirections
{
    display:block;
    background: url(/images/cafes/directions_box.jpg);
    width:365px;
    height:67px;
    margin-bottom:8px;
}
#LocationMap .title
{
    margin-top:12px;
    display:block;
}

#LocationMap .contentBox
{
    margin-top:12px;
}

#getDirections .instructions
{
    color: #000;
    font-weight:bold;
}


.cafeDirections .title
{
    display:block;
    margin: 8px 0;
}

#getDirections #txtStartingAddress
{
    width: 240px;
}
#getDirections .container
{
    padding: 12px 0 12px 12px;
}
#getDirections .directionsSubmit
{
    cursor: pointer; 
    position:relative; 
    top: 5px;
    left: 4px;
}

/* cafe pages | news ticker */

#newsTicker
{
    height:64px;
    
}

#newsTicker .container
{
    padding: 20px 15px 15px 25px;
}

#newsTicker .calendarTitle
{
    float:left;
    width:62px;
    font-size: 11px;
    color: #999;
}

#newsTicker .viewAll
{
    float:right;
    width: 87px;
    text-align: right;
    margin-right:8px;
}

#newsTicker .viewAll a
{
    text-decoration: none;
    color: #999;
    font-size: 11px;
}
#newsTicker .viewAll a:hover
{
    color: #ccc;
}
#newsTicker .viewAll img
{
    vertical-align:top;
}

.newsRotator
{
    float:left;
    width:430px;
    margin-right: 20px;
    
}

.newsRotator a
{
    color: #FFF;
    text-decoration: none;
}

.newsRotatorButtons
{
    float: left;
    width:36px;
    
}


.radTickerNewsItems
{
    font-size: 11px;
    overflow:hidden;
    
}

.radTickerNewsItems span
{
    overflow:hidden;
    height: 16px;
    display:block;
}


/*twitter ticker */

 ul#tweetlist
 {
     margin:0;
     padding:0;
     list-style: none;
 }
 
  ul#tweetlist li
 {
     padding: 6px 0 0 12px;
     height:19px;
     overflow:hidden;
 }
 ul#tweetlist li span
 {
     overflow:hidden;
     display:block;
     height: 27px;
 }
 

/* Cafe Pages / Sub Menu */



body.cafe .MenuLink a:link, body.cafe  .MenuLink a:visited
{
    margin: 0px;
    /*ie7 spacing issue fix*/
    width:150px;    
    font-size: 11px;
}


body.cafe .MenuLink a:link, body.cafe .MenuLink a:visited
{
   padding: 0px 10px;
}

body.cafe .subPageMenu  ul li {/*width: 170px;*/ margin:0 1px}
body.cafe .subPageMenu  ul li ul li { margin:0;}



body.cafe .subPageMenu  ul li.MenuFlyout ul li a{width:158px;}






/*cafe pages/ history */

.CafeSubHeader.ContentID_42
{
    font-size:inherit;
    color: inherit;
    font-weight:inherit;
}


/*cafe pages/ memo */

.memoItem1
{
    margin-top: 27px;
    background: url(/images/cafes/memo_1.gif) no-repeat 0 0;
}
.memoItem2
{
    background: url(/images/cafes/memo_2.gif) no-repeat 0 0;
}
.memoItem3
{
    background: url(/images/cafes/memo_3.gif) no-repeat 0 0;
}
.memoItem4
{
    background: url(/images/cafes/memo_4.gif) no-repeat 0 0;
}
.memoItem5
{
    background: url(/images/cafes/memo_5.gif) no-repeat 0 0;
}
.memoItem6
{
    background: url(/images/cafes/memo_6.gif) no-repeat 0 0;
}
.memoItem7
{
    background: url(/images/cafes/memo_7.gif) no-repeat 0 0;
}
.memoItem8
{
    background: url(/images/cafes/memo_8.gif) no-repeat 0 0;
}
.memoItem9
{
    background: url(/images/cafes/memo_9.gif) no-repeat 0 0;
}
.memoItem10
{
    background: url(/images/cafes/memo_10.gif) no-repeat 0 0;
    
}
span.memoItem
{
    display:block;
    padding: 0 0 12px 35px;
    margin-bottom: 12px;
    border-bottom:1px solid #343434;
}

span.memoNumber
{
    display:block;
    float:left;
    width:30px;
}
span.memoContent
{
     display:block;
    float:left;
    width:325px;
}

.CafeSubHeader.ContentID_29
{
    color: #CCC;
}

.memoItem.last
{
    border:none;
}

/*cafe page | events */

.EventGridHeader
{
    text-align:left;
    text-transform:uppercase;
}

#eventsList .cafePageSubTitle
{
    margin: 26px 0 10px 0;
     border-bottom:solid 1px #343434;
}

.EventGridRow a
{
    text-decoration:none;
    font-size:11px;
}
.CafeSubHeader.ContentID_104
{
    display:block;
    position:relative;
    
}

#headerPager
{
    position:absolute;
    right:0;
    bottom: 0px;
    color:#ccc;
    font-size:12px;
}

.eventsPager.last
{
   height:30px;
}

.EventGridHeader
{
    padding: 0 10px ;
}

.EventGridCell
{
    padding-left: 4px;
}
.EventGridCell.date
{
    text-transform:uppercase;
}

.EventGridRow.even{
    background-color:#1C1C1C;
    border: solid 1px #464646;
    border-left:none;
    border-right:none;
}

.eventsPager 
{
    color: #999;
}

.eventsPager a
{
    text-decoration:none;
}

/* cafe / tour */
#cafeMainContentContainer.tour #col2 .container {
padding:15px 0 15px 5px;
}
#cafeMainContentContainer.tour #col2 .container .cafePageTitle
{
    margin-left: 10px;
}

/*cafe splash page */

#subPageLeft
{
    float:left;
    width:214px;    
}




.comingSoonItem
{
    padding: 2px 0;
}

.comingSoonLocation
{
    color:#fff;
    font-weight:bold;
}

.comingSoonLocation a, .comingSoonLocation a.inactive
{
    color: #CCC;
    text-decoration: none;
}


/* cafe pages/gallery detail*/
 a.HighlitedNum
{
    font-weight: bold;
    color: Gray;
    text-decoration: none;	
}
.DLTD
{
    vertical-align: top;
}
a.galleryHome  
{
    display: block;            
    background-color: Transparent;           
    width: 104px;
    TEXT-DECORATION: none;
    outline: none;
    color: #999;
    font-size:11px;
}
a.galleryHome:hover { color: #CCC}
       
.albumTitle
{
    font-weight: bold; 
    color: #fff;
    text-transform:uppercase;
}
       
.photoDescription
{
    vertical-align: top; 
    font-size:10px;
    width:132px; 
    text-align:left; 
    padding-top:2px;
}
       
a.albumNextPrev{
text-decoration: none; 
text-transform:uppercase;
        
color:#CCC;
}
       
a.albumNextPrev:hover
{
    color: #FFF;
}

/*cafepages / Gallery */
        
.PhotoGridViewTd table
{
    display: inline;
}
.PhotoGridViewTd td
{
    border: none;
    font-style: normal;
    font-family: Georgia;
    font-size: 12px;
    font-weight: normal;
}
.PhotoGridViewTr tr
{
    border: none;            	
}
.PhotoGridViewTable
{
    border: none;
}
        
a.photoTitle
{
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
}

