﻿/* new styles */
.RadRotator_Default .rrClipRegion
{
	border: solid 1px #a7bac5;
}

/*================== The list ========================*/

.RadRotator_Default .rrClipRegion  .rrItemsList 
{
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;          
}

/* For vertical carousel, not set, width defaults to auto */
/* Note if you explicitly set width to auto, this might cause */
/* problems with Safari */

.RadRotator_Default .rrButton
{
	background-image: url('WebResource.axd?d=vdl6oLmW9SE3cNoizRg0xJ7SffB08bbG4uYMFd42ToceBO2f0Aaev1EDoXMoJtANoIs8Ag_3xEs_aQ5hgGJFZCQ5dkRuMSR6WxqW-oRScM3IYDLymI7wRVOgMxUXopyzI6K9jltwvnsCTp9pokhU456aCr7Qpu7Lg-0jIzUO4kU1&t=634307905320000000');
	background-repeat: no-repeat;
}

/* When LoadOnDemand */
.rrLoadingSign
{
    background: url('WebResource.axd?d=aKQMEMWmRLMmWiyJp1_Xm7X3QbphEtKqfJeRD5gHdEud-0pWbTJYf9ZyuY2GEAXgzGZTst9f4UeKC9nEy5hkKzompeu7-V-ENS5H4J47YLFEFziKiNS6NOzggb6EF2m-epK5u-FGC7HP-T7JhRUd4fHL2bEdJc-Pyg47vGLNRiQ1&t=634307905320000000') no-repeat center;
}
