/**
 * MP6 hacks, CSS that's either WPCOM specific or otherwise not suitably for MP6 proper
 */


/* Replace Omnisearch PNG search icon with a dashicon */
#wpadminbar div.ab-item form#adminbarsearch input.adminbar-search-input {
	background-image: none;
	position: relative;
	z-index: 30;
}


/* Show globe icon next to blog */
#wpadminbar #wp-admin-bar-blog > .ab-item:before {
	position: relative;
	top: 2px;
	content: '\f319';
}

/* If a blavatar is present, move it left to cover the globe */
#wpadminbar #wp-admin-bar-blog > .ab-item {
	position: relative;
}
#wpadminbar #wp-admin-bar-blog > .ab-item img.avatar {
	position: absolute;
	z-index: 1;
	left: 12px;
	top: 10px;
}

/* Make sure the margin around the WordPress logo is a bit relaxed, and the WordPress icon aligns to the sidebar icons */
#wpadminbar ul#wp-admin-bar-root-default>li#wp-admin-bar-newdash {
	margin: 0 8px 0 -1px;
}

/* Fix omnisearch lineheight */
#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary input.adminbar-search-input.search-input-focus {
	border: none;
	text-shadow: none;
	box-shadow: none;
	line-height: 1;
	background: #ccc;
	background: rgba(255,255,255,.7);
}

/* Invert stats sparkline on light theme */
body.admin-color-mp6-light li#wp-admin-bar-stats img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

/* Override white color on blog title */
body.admin-color-mp6-light #wpadminbar ul li#wp-admin-bar-blog > .ab-item {
	color: #333;
}

/* Updated message fixes */
body.admin-color-mp6-light #wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary span.noticon {
	color: #eee;
}

div.updated p,
div.error p {
	position: relative;
}

div.updated .noticon-close,
div.error .noticon-close {
	font-size: 28px;

	height: 28px;
	width: 28px;

	position: absolute;
	right: 0;
	top: -1px;
}

/* Fix taller MP6 v2 toolbar. Merge this into mu-plugins/wpcom-admin-bar.css after MP6 v2 launch */
@media screen and ( max-width: 782px ) {

	.mp6 #wpadminbar li#wp-admin-bar-follow > a,
	.mp6 #wpadminbar li#wp-admin-bar-blog > a,
	.mp6 #wpadminbar li#wp-admin-bar-topicpress > a,
	.mp6 #wpadminbar li#wp-admin-bar-wpr-reblog > a,
	/* These next lines are necessary for when users opt out to the responsive styles */
	.mp6 #wpadminbar li#wp-admin-bar-dbg > div,			
	.mp6 #wpadminbar li#wp-admin-bar-my-account > a
	{
		line-height: 46px !important;
	}
	
	/* Notes only shown when users opt out to the responsive styles */
	body.mp6 #wpadminbar #wp-admin-bar-notes #wpnt-notes-unread-count {
		margin: 13px 3px 0 3px !important;
	}

	.mp6 #wpadminbar li#wp-admin-bar-blog > a.ab-item:before {
		top: 9px;
	}
	
	#wpadminbar #wp-admin-bar-blog > .ab-item img.avatar {
		top: 17px;
	}

}

/* Fix toolbar hover color temporarily. Post launch, remove from /wp-content/mu-plugins/admin-bar/wpcom-admin-bar.css */
.admin-color-mp6 #wpadminbar ul li#wp-admin-bar-blog.hover > .ab-item, .mp6 #wpadminbar ul li#wp-admin-bar-blog.hover > .ab-item, .admin-color-mp6 #wpadminbar .quicklinks #wp-admin-bar-my-account-with-avatar.hover .ab-display-name, .mp6 #wpadminbar .quicklinks #wp-admin-bar-my-account-with-avatar.hover .ab-display-name, .admin-color-mp6 #wpadminbar .quicklinks #wp-admin-bar-my-account-no-avatar.hover .ab-display-name, .mp6 #wpadminbar .quicklinks #wp-admin-bar-my-account-no-avatar.hover .ab-display-name, .admin-color-mp6 #wpadminbar .quicklinks #wp-admin-bar-my-account.hover .ab-display-name, .mp6 #wpadminbar .quicklinks #wp-admin-bar-my-account.hover .ab-display-name {
	color: inherit !important;
}

/* add style for reader link in /wp-admin/ leftbar */

/* Reader icon in left-bar */
.icon16.icon-reader:before,
#adminmenu .menu-icon-reader div.wp-menu-image:before,
ul#adminmenu .toplevel_page_reader div.wp-menu-image:before{
     content: '\f116';
}



#wpadminbar li#wp-admin-bar-admin-bar-likes-widget {
	width: 61px;
	overflow: hidden;
}
#wpadminbar iframe.admin-bar-likes-widget {
	width: 61px;
	height: 28px;
	min-height: 28px;
	border-width: 0px;
	position: absolute;
	top: 0;
}

div.jetpack-likes-widget-wrapper {
	width: 100%;
	min-height: 60px;
}

div.jetpack-likes-widget-wrapper .sd-link-color {
	font-size: 12px;
}

div.jetpack-likes-widget-wrapper.slim-likes-widget {
	width: 1px; /* initial default */
	min-height: 0;
}

#likes-other-gravatars {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #000;
	border-width: 0;
	opacity: 0.88;
	filter: alpha(opacity=88);
	box-shadow: 0 0 10px black;
	min-width: 130px;
	z-index: 1000;
}

#likes-other-gravatars * {
	line-height: normal;
}

#likes-other-gravatars .likes-text {
	color: white;
	font-size: 14px;
	padding-bottom: 5px;
}

#likes-other-gravatars ul,
#likes-other-gravatars li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

#likes-other-gravatars li::before {
	content: "";
}

#likes-other-gravatars ul.wpl-avatars {
	overflow: auto;
	display: block;
	position: absolute;
	max-height: 190px;
}

#likes-other-gravatars ul.wpl-avatars li {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px 5px 0;
}

#likes-other-gravatars ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

#likes-other-gravatars ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}


div.sd-box {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
}

h3.sd-title {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

.rtl .sd-title {
	float: right;
	text-align: right;
}

.entry-content .post-likes-widget, .post-likes-widget,
.comment-likes-widget {
	margin: 0;
	border-width: 0;
}

.post-likes-widget-placeholder {
	margin: 0;
	border-width: 0;
}

.post-likes-widget-placeholder .button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #999;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.post-likes-widget-placeholder .button span {
	padding: 1px 5px 1px 2px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

.post-likes-widget-placeholder .button span:before {
	color: #97A8CC;
	font-family: "Noticons";
	content: '\f408';
	font-size: 16px;
	line-height: 0;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	top: 3px;
}

.post-likes-widget-placeholder .loading {
	color: #999;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-likes-widget {
	width: 82.125%;
	display: none;
	float: right;
}

.slim-likes-widget .post-likes-widget {
	width: auto;
	float: none;
}

/* Like Special cases (display on it's own) */

div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like .post-likes-widget {
	width: 100%;
	float: none;
}

div.sharedaddy.sd-rating-enabled .sd-like .post-likes-widget, div.sharedaddy.sd-sharing-enabled .sd-like .post-likes-widget {
	width: 82.125%;
	float: right;
}

div.sharedaddy.sd-rating-enabled .sd-like h3, div.sharedaddy.sd-sharing-enabled .sd-like h3 {
	display: block;
}

.comment-likes-widget {
	width: 100%;
}
#bit, #bit * {
	*zoom: 1;
}

#bit {
	font: normal 13px "Helvetica Neue", sans-serif;
	_display: none;
}

.loggedout-follow-shelf {
	position: fixed;
	right: 40%;
	z-index: 999999;
	bottom: -300px;
}

.loggedout-follow-normal {
	position: fixed;
	z-index: 999999;
	bottom: -300px;
	right: 10px;
}

.loggedout-follow-typekit {
	margin-right: 4.5em;
	position: fixed;
	z-index: 999999;
	bottom: -300px;
	right: 10px;
}

#bit a.bsub {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 8px;
	float: right;
	text-decoration: none !important;
	line-height: 28px;
	font: normal 13px/28px "Helvetica Neue", sans-serif;
	color: #CCC;
	text-shadow: #444 0 -1px 0;
	letter-spacing: normal;
	border: 0;

	background-color: #464646;
	background-image: -ms-linear-gradient(bottom, #464646, #3f3f3f 5px);
	background-image: -moz-linear-gradient(bottom, #3f3f3f, #464646 5px);
	background-image: -o-linear-gradient(bottom, #464646, #3f3f3f 5px);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#464646), to(#3f3f3f));
	background-image: -webkit-linear-gradient(bottom, #3f3f3f, #464646 5px);
	background-image: linear-gradient(bottom, #464646, #3f3f3f 5px);

	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-o-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-ms-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	box-shadow: 0 -1px 5px rgba(0,0,0,0.20);

	outline-style: none;
	outline-width: 0;
}

#bit a.bsub {
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

#bit a.bsub span {
	background: url(/wp-content/blog-plugins/loggedout-follow/../../mu-plugins/admin-bar/wpcom-admin-bar-icons.png) 0 -77px no-repeat;
	padding-left: 19px;
}

#bit a:hover span, #bit a.bsub.open span {
	color: #ffffff !important;
	background-position: 0 -117px;
}

#bit a.bsub.open {
	background: #333;
}

#bitsubscribe {
	background: #464646;
	color: #fff;
	padding: 15px;
	width: 200px;
	margin-top: 27px;
	-moz-border-radius: 2px 0 0 0;
	-webkit-border-radius: 2px 0 0 0;
	-o-border-radius: 2px 0 0 0;
	-ms-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;
	*float: right;
	*margin-right: -68px;
}

div#bitsubscribe.open {
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#bitsubscribe div {
	overflow: hidden;
}

#bit h3, #bit #bitsubscribe h3 {
	margin: 0 0 .5em 0 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 0 #333;
	font-size: 20px;
	color: #fff;
	text-align: left;
}

#bit #bitsubscribe p {
	margin: 0 0 1em 0;
	*margin: 0 0 0 0;
	font: 15px/1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 0 #333;
	color: #fff;
}

#bitsubscribe p a {
	margin: 20px 0 0;
	color: #fff;
	text-decoration: underline;
}

#bit #bitsubscribe p.bit-follow-count {
	font-size: 13px;
}

#bitsubscribe input[type=submit] {
	padding: 2px 20px;
	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#111 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#111 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#111 100%);
	color: #ccc;
	text-shadow: 0 1px 0 #000;
	border: 1px solid #282828;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-shadow: inset 0 1px 0 #444;
	-webkit-box-shadow: inset 0 1px 0 #444;
	box-shadow: inset 0 1px 0 #444;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	*margin: 1em 0 1em 0;
}

#bitsubscribe input[type=submit]:hover {
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#222 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#222 100%);
	color: #fff;
	-moz-box-shadow: inset 0 1px 0 #4f4f4f;
	-webkit-box-shadow: inset 0 1px 0 #4f4f4f;
	box-shadow: inset 0 1px 0 #4f4f4f;
	text-decoration: none;
}

#bitsubscribe input[type=submit]:active {
	background: #111; /* Old browsers */
	background: -moz-linear-gradient(top, #111 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #111 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #111 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #111 0%,#222 100%); /* IE10+ */
	background: linear-gradient(top, #111 0%,#222 100%);
	color: #aaa;
	-moz-box-shadow: inset 0 -1px 0 #333;
	-webkit-box-shadow: inset 0 -1px 0 #333;
	box-shadow: inset 0 -1px 0 #333;
	text-decoration: none;
}

#bitsubscribe input[type=text],
#bitsubscribe input[type=email] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	height: auto;
	padding: 1px 2px;
	width: 95%;
}

#bitsubscribe input[type=text]:focus,
#bitsubscribe input[type=email]:focus {
	border: 1px solid #000;
}

#bitsubscribe.open {
	display: block;
}

#bsub-subscribe-button {
	text-align: center;
	margin: 0 auto;
}

/*
Confirmation
=============================== */

#bitsubscribe #lof-readerpromo p {
	color: #ccc;
}

#bitsubscribe #lof-followpublicize {
	border-top: 1px solid #3c3c3c;
	margin-bottom: .5em;
}

#bitsubscribe #lof-followpublicize h3 {
	font-size: 13px;
	padding-top: 1em;
	margin-bottom: 1em !important;
}

#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter,
#bitsubscribe #lof-followpublicize p.lof-followpublicize-facebook {
	background: #555;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #333;
	-webkit-box-shadow: inset 0 1px 1px #333;
	-o-box-shadow: inset 0 1px 1px #333;
	-ms-box-shadow: inset 0 1px 1px #333;
	box-shadow: inset 0 1px 1px #333;
	margin-bottom: .5em;
	overflow: hidden;
}
#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter {
	padding: 10px 10px 5px;
}

/*
Footer
=============================== */

#bitsubscribe #bsub-credit {
	text-align: center;
	font: normal 11px "Helvetica Neue", sans-serif;
	padding: 7px 0;
	margin:0 0 -15px;
	border-top: 1px solid #3c3c3c;
}

#bitsubscribe #bsub-credit a {
	color: #aaa;
	text-shadow: 0 1px 0 #262626;
	background: none;
	text-decoration: none;
}

#bitsubscribe #bsub-credit a:hover {
	color: #fff;
	background: none;
}

@media (max-width: 800px) {
	#bit, #bit a.bsub {
		display:none;
	}
}

@media (min-device-width: 768px) {
	#bit, #bit a.bsub {
		display: block;
	}
}/* =Resets
-------------------------------------------------------------- */

div.sharedaddy ul,
div.sharedaddy li {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	background: none;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	clear: both;
	text-align: left;
}

div.sharedaddy,
div.sharedaddy div {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

div.sharedaddy h3,
#content div.sharedaddy h3,
#main div.sharedaddy h3,
#primary div.sharedaddy h3 {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

.rtl div.sharedaddy h3,
.rtl #content div.sharedaddy h3,
.rtl #main div.sharedaddy h3,
.rtl #primary div.sharedaddy h3 {
	float: right;
	text-align: right;
}

div.sharedaddy ul,
div.sharedaddy li {
	margin: 0 !important;
	padding: 0 !important;
	text-indent: 0;
}

div.sharedaddy li::before {
	content: "";
}

div.sharedaddy div.pd-rating {
	margin: 0;
	min-height: 23px;
}

div.sharedaddy a,
div.sharedaddy a:link,
div.sharedaddy a:visited {
	font-style: normal;
}

/* ClearFix trick */

div.sharedaddy:before,
div.sharedaddy:after,
div.sharedaddy .sd-block:before,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:before,
div.sharedaddy ul:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

div.sharedaddy:after,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:after {
	clear: both;
}

div.sharedaddy,
div.sharedaddy .sd-block,
div.sharedaddy ul {
	zoom: 1;
}


/* =Base Styles
-------------------------------------------------------------- */

div.sharedaddy div.sd-block {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
	padding: 10px 0 5px;
	margin: 0;
	width: 100%;
}

div.sharedaddy.sharedaddy-dark .sd-block {
	border-top-color: #222;
	border-top-color: rgba(50,50,50,.5);
}

div.sharedaddy .sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
	margin: -2px 0 0 0;
}

div.sharedaddy .sd-content ul {
	margin: 0;
}

div.sharedaddy .sd-content li {
	float: left;
	margin: 0 5px 5px 0 !important;
	display: block;
}

.rtl div.sharedaddy .sd-content {
	float: right;
}

.rtl div.sharedaddy .sd-content li {
	float: right;
	margin: 0 0 5px 5px !important;
}

/* Base Button .sd-button */

div.sharedaddy a.sd-button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #000 !important;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

div.sharedaddy a.sd-button:hover {
	color: #000;
	text-shadow: 0 1px 0 #fff;
	border-color: #ccc;
	background: #eee;
	background: -moz-linear-gradient(top, #efefef 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -o-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#eee 100%);
	background: linear-gradient(top, #efefef 0%,#eee 100%);
}

div.sharedaddy a.sd-button:active {
	background-color: #efefef;
	box-shadow: inset 0 -1px 0 #fff;
	border-color: #ddd;
}

a.sd-button > span {
	padding: 4px 8px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

a.sd-button:hover span {
	opacity: 1;
}

.sd-button span.share-count {
	font-size: 90%;
	color: #666;
	margin-left: 5px;
	line-height: 1;
}

.rtl .sd-button span.share-count {
	margin-right: 5px;
}

/* Button Style Options */

.sd-social-icon-text a.sd-button > span,
a.sd-button > span {
	padding: 1px 5px 1px 23px;
	background-position: 2px center;
	background-repeat: no-repeat;
}

.sd-social-icon a.sd-button > span {
	padding: 3px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
}

.sd-social-text a.sd-button > span {
	background: none !important;
	padding-left: 5px
}

.sd-social-official li {
	height: 21px;
}

div.sharedaddy .no-text {
	width: 21px;
	height: 21px;
}

div.sharedaddy .no-text a {
	text-decoration: none;
}

div.sharedaddy .no-icon a span, div.sharedaddy li.no-icon div a span {
	padding-left: 5px;
	background-image: none;
}

.rtl .sd-social-icon-text a.sd-button > span,
.rtl a.sd-button > span {
	padding: 3px 23px 3px 5px;
	background-position: 98% center;
}

.rtl .sd-social-text a.sd-button > span {
	padding-left: 0;
	padding-right: 5px
}

.rtl div.sharedaddy .no-icon a span, .rtl div.sharedaddy li.no-icon div a span {
	padding-left: 0;
	padding-right: 5px
}


/* Sharedaddy Module in /sharing/sharing.css */

/* Ratings Alignment
-------------------------------------------------------------- */
div.sharedaddy .sd-rating .pd-rating {
	width: 82.125%; /* 530px / 640px */
	float: right;
	margin: 0;
}


/* =Like Module
-------------------------------------------------------------- */

div.sharedaddy .wpl-likebox,
#main div.sharedaddy .wpl-likebox,
#content div.sharedaddy .wpl-likebox {
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.wpl-likebox .sd-content {
	margin: -2px 0 0 0;
}

div.sharedaddy .wpl-button {
	float: left;
	margin: 0 5px 0 0;
}

div.sharedaddy .wpl-count {
	line-height: 1;
	padding: 5px;
	text-align: left;
	margin: 0;
	font-size: 12px;
}

div.sharedaddy ul.wpl-avatars,
.wpl-likebox {
	margin: 0 -2px 0 0 !important;
	padding-top: 8px !important;
	overflow: hidden;
}

div.sharedaddy ul.wpl-avatars li {
	width: 32px;
	height: 32px;
}

div.sharedaddy ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

div.sharedaddy ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}

div.sharedaddy .wpl-button a.sd-button span {
	padding: 1px 5px 1px 2px;
	text-shadow: none;
}

div.sharedaddy .wpl-button a.sd-button span:before {
	color: #2EA2CC;
	font-family: "Noticons";
	content: '\f408';
	font-size: 16px;
	line-height: 0;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	top: 3px;
}

div.sharedaddy .wpl-button a.sd-button.liked {
	background: #FEFFCE;
	border: 1px solid #F3E389;
	box-shadow: inset 0 1px 0 #fff;
	cursor: default;
}

div.sharedaddy .wpl-button a.sd-button.liked span {
	opacity: 1;
}

.rtl div.sharedaddy .wpl-button {
	float: right;
	margin: 0 0 0 5px;
}

.rtl div.sharedaddy #wpl-count {
	text-align: right;
}

.rtl div.sharedaddy ul.wpl-avatars,
.rtl .wpl-likebox {
	margin: 0 0 0 -2px !important;
}

.rtl div.sharedaddy .wpl-button a.sd-button span {
	padding: 3px 5px;
	background-position: right center;
}

#wpl-mustlogin {
	width: 80%;
	max-width: 312px;
	padding: 15px;
	position: absolute;
	z-index: 1001;
	text-shadow: none;
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

#wpl-mustlogin p {
	margin: 0;
	text-shadow: none;
	color: #333;
}

#wpl-mustlogin label, #wpl-mustlogin a {
	text-shadow: none;
	color: #333;
}

#wpl-mustlogin input[type="text"],
#wpl-mustlogin input[type="password"] {
	width: 98.5%;
	text-shadow: none;
	border: 1px solid #ccc;
	background: #fff;
	color: #333;
}

#wpl-mustlogin {
	line-height: 14px !important;
	font-size: 11px;
	clear: left;
	margin-top: 5px;
	background: #f0f0f0;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wpl-mustlogin a {
	color: #888;
	text-decoration: underline;
}

#wpl-mustlogin p {
	margin: 5px 0;
	padding: 0
}

#wpl-mustlogin input.input {
	padding: 2px;
	background: #fff;
	font-size: 11px;
	font-family: inherit;
	border: 1px solid #ccc;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	line-height: 12px;
}

#wpl-mustlogin input#wp-submit {
	border: 1px solid #ccc;
	font-size: 11px;
	background: #fafafa repeat-x;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px !important;
	line-height: 12px;
}

#wpl-mustlogin label {
	position: relative;
	cursor: text;
}

#wpl-mustlogin label span {
	position: absolute;
	top: 0px;
	left: 5px;
	padding: 0 !important;
}

.rtl #wpl-mustlogin {
	margin-left: 0;
	margin-right: -120px;
}

.rtl #wpl-mustlogin {
	clear: right
}

.rtl #wpl-mustlogin label span {
	left: auto;
	right: 5px
}

/* Like Special cases (display on it's own) */

div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like div.sd-content {
	width: 100%;
	float: none;
}

div.sharedaddy.sd-rating-enabled .sd-like h3 {
	display: block;
}

div.sharedaddy.sd-rating-enabled .sd-like div.sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
}

div.sharedaddy.sd-sharing-enabled .sd-like h3 {
	display: block;
}

div.sharedaddy.sd-sharing-enabled .sd-like div.sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
}

.rtl div.sharedaddy.sd-rating-enabled .sd-like div.sd-content {
	float: left
}

.rtl div.sharedaddy.sd-sharing-enabled .sd-like div.sd-content {
	float: left
}

/* =Theme-specific fixes
-------------------------------------------------------------- */

/* Shelf */

div.sharedaddy .wpl-likebox {
	position: static !important;
	bottom: auto !important;
}
/*
Theme Name: Skeptical
Theme URI: http://www.woothemes.com
Author: WooThemes
Author URI: http://www.woothemes.com
Description: A theme featuring a custom header, custom background, and five widget areas - one in the sidebar, four in the footer. The footer also shows a maximum of three featured (sticky) posts. It comes with four different color schemes. It supports several post formats including aside, gallery, image, quote, link, chat, video, and audio.
Version: 1.0.3-wpcom
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Copyright: (c) 2009-2010 WooThemes.
Tags: school, education, blue, brown, gray, green, red, light, two-columns, three-columns, right-sidebar, fixed-width, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, announcement, blog, design, news, professional, travel, tumblelog, video, clean, colorful, contemporary, light, modern, infinite-scroll
*/


/* =Reset
-------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ | v1.0 | 20080212 */
body,
html {
	height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* =General Styles
-------------------------------------------------------------- */

/* Floating & Alignment */
.fl {
	float: left;
}
.fr {
	float: right;
}
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}
/* Clear Floats */
.col-full:after,
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden;
}
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	height: 0;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	visibility: hidden;
	width: 0;
}
/* Defaults */
body {
	background-color: #efefef;
	color: #555;
	font: 12px/1.5em Helvetica, Arial, Sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #333;
}
h1 {
	font-size: 2.0em
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.0em;
}
h6 {
	font-size: 0.8em;
}
p {
	margin: 0;
}
hr {
	background-color: #e6e6e6;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}
input,
textarea {
	border-color: #ccc #efefef #efefef #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 7px 0 7px 7px;
}
/* Hyperlinks */
a:link,
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited,
h5 a:link,
h5 a:visited,
h6 a:link,
h6 a:visited {
	text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration: underline;
}


/* =Site Structure & Appearance
-------------------------------------------------------------- */

/* Containers & Columns */
#main {
	width: 940px;
}
#main.col-left {
	width: 720px;
}
#sidebar {
	width: 220px;
	padding: 20px 0 0 0;
}
.col-left {
	float: left;
}
.col-right {
	float: right;
}
.col-full {
	width: 940px;
	margin: 0 auto;
}
/* Header */
#header {
	background: #333 url(/wp-content/themes/pub/skeptical/images/bg-header.png) repeat-x left top;
	clear: both;
	margin: 0 0 50px;
	position: relative;
}
#logo {
	float: left;
	padding: 18px 0 21px;
}
#logo img {
	padding-top: 9px;
}
#logo .site-title,
#logo .site-description {
	display: block;
	word-wrap: break-word;
}
#logo .site-title a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	text-decoration: none;
	text-transform: none;
}
#logo .site-title a:hover {
	text-decoration: underline;
}
#logo .site-description {
	color: #999;
	font-style: italic;
	line-height: 12px;
}
#topad {
	float: right;
}
#navigation {
	float: right;
}
#navigation ul.rss li {
	float: left;
	padding: 0;
}
#navigation ul.rss li a {
	background: url(/wp-content/themes/pub/skeptical/images/ico-rss.png) no-repeat left 25px;
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 42px;
	margin: 0 0 0 20px;
	padding: 17px 0 17px 34px;
	text-decoration: none;
}
#navigation ul.rss li a:hover {
	text-decoration: underline;
}
.nav {
	line-height: 1.0em;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 99;
}
.nav a:link,
.nav a:visited {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 42px !important;
	margin: 0 1px 0 0;
	padding: 17px;
	text-decoration: none;
	text-shadow: 2px 1px 0 rgba(0,0,0,0.4);
	z-index: 100;
}
.nav li:hover > a,
.nav a:hover,
.nav li.current_page_item a:link,
.nav li.current_page_item a:visited,
.nav li.current_page_ancestor a:link,
.nav li.current_page_ancestor a:visited,
.nav li.current-menu-item a:link,
.nav li.current-menu-item a:visited,
.nav li.current-menu-ancestor a:link,
.nav li.current-menu-ancestor a:visited {
	background: #9bc4ce url(/wp-content/themes/pub/skeptical/images/bg-nav.png) repeat-x left top;
}
.nav li {
	float: left;
	position: relative;
}
/* Drop-down menus */
.nav ul {
	background: #9bc4ce;
	border-width:1px 1px 0;
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 76px;
	width: 181px;
	z-index: 999;
}
.nav li ul li {
	border-bottom: 1px solid #76a0aa;
	border-top: 1px solid #b4d9e2;
}
.nav li ul li a:link,
.nav li ul li a:visited {
	font-size: 12px;
	line-height: 30px;
	padding: 0 10px;
	width: 160px;
}
.nav li ul li a:hover,
.nav li ul li.current_page_item a:link,
.nav li ul li.current_page_item a:visited,
.nav li ul li.current-menu-item a:link,
.nav li ul li.current-menu-item a:visited {
	background-color: #76a0aa !important;
}
.nav li ul li a {
	background-image: none !important;
}
.nav li ul ul {
	left: 100%;
	top: -1px;
}
.nav li:hover > ul {
	display: block;
}
#header-image {
	margin: -20px auto 30px;
	width: 940px;
}
/* Content */
#content {
	padding: 0 0 40px;
}
/* Sidebar */
#sidebar {
	overflow: hidden;
}
/* Footer */
#footer-secondary {
	background: #dedede url(/wp-content/themes/pub/skeptical/images/indentline-light.png) repeat-x left top;
	padding: 40px 0;
}
#footer-secondary .footer-secondary-headings {
	background: #333;
	color: #fff;
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin: 0 80px 0 0;
	padding: 10px 0 9px 15px;
	position: relative;
	text-shadow: 2px 1px 0 rgba(0,0,0,0.4);
	width: 145px;
}
#footer-secondary .footer-secondary-headings .bg {
	background: url(/wp-content/themes/pub/skeptical/images/bg-postdate.png) no-repeat center right;
	display: block;
	height: 38px;
	position: absolute;
	right: -15px;
	top: 0;
	width: 15px;
}
#sticky-posts .sticky-post {
	margin: 0 20px 0 0;
	width: 220px;
}
#sticky-posts .sticky-post.last {
	margin: 0;
}
#sticky-posts .sticky-post h4 {
	font-size: 18px;
	line-height: 24px;
	margin: -3px 0 15px 0;
}
#sticky-posts .sticky-post h4 a {
	color: #333;
}
#sticky-posts .sticky-post .more {
	background: url(/wp-content/themes/pub/skeptical/images/ico-readmore.png) no-repeat right center;
	color: #333;
	display: inline-block;
	margin: 7px 0 0;
	padding: 0 17px 0 0;
	text-decoration: underline;
}
#footer-widgets {
	background: url(/wp-content/themes/pub/skeptical/images/indentline-light.png) repeat-x left top;
}
#footer-widgets {
	border-top: 1px solid #e6e6e6;
	padding: 10px 0;
}
#footer-widgets .block {
	float: left;
	margin: 20px 20px 0 0;
	width: 220px;
}
#footer-widgets .block.last {
	margin-right: 0;
}
#footer {
	background: #dedede url(/wp-content/themes/pub/skeptical/images/indentline-light.png) repeat-x left top;
	border-bottom: 2px solid #333;
	color: #999;
	padding: 30px 0 26px;
}
#footer .footer-inside {
	margin: 0 auto;
	width: 940px;
}
#footer #credit img {
	vertical-align: middle;
}
#footer #credit span {
	display: none;
}


/* =Posts
-------------------------------------------------------------- */

.archive_header {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin: -28px 0 10px;
	padding: 0 0 0 180px;
	width: 520px;
}
.archive_header .catrss a {
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}
.post,
.hentry.page {
	margin: 0 0 40px;
}
.post.not-found {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	padding: 20px;
	width: 660px;
}
a.date-link {
	color: #fff;
}
a.date-link:hover {
	border: none;
	text-decoration: none;
}
.post .post-meta {
	color: #9f9f9f;
	font-size: 12px;
	margin: 0 20px 0 0;
	padding: 15px 0 0 0;
	text-shadow: 2px 1px 0 rgba(0,0,0,0.4);
	width: 160px;
}
.post .post-meta .post-date {
	background: #333;
	color: #fff;
	display: block;
	font-size:18px !important;
	font-weight: bold;
	margin: 0 0 1px 0;
	padding: 10px 0 9px 15px;
	position: relative;
}
.post .post-meta .post-date .bg {
	background: url(/wp-content/themes/pub/skeptical/images/bg-postdate.png) no-repeat center right;
	display: block;
	height: 38px;
	position: absolute;
	right: -15px;
	top: 0;
	width: 15px;
}
.post .post-meta ul {
	background: #333;
}
.post .post-meta ul li {
	background: url(/wp-content/themes/pub/skeptical/images/indentline.png) repeat-x left bottom;
	font-weight: bold;
	padding: 7px 15px 8px;
}
.post .post-meta ul li a {
	color: #fff;
}
.post .middle {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	margin: 0 20px 0 0;
	padding: 20px 20px 0;
	width: 479px;
}
.post.page,
.hentry.page {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	padding: 20px 20px 0;
	width: 659px;
}
.fullwidth .post.page {
	width: 899px;
}
.post .title,
.hentry.page .title {
	font: normal bold 30px/30px Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
	position: relative;
	word-wrap: break-word;
}
.page .post .title {
	margin: 0 0 20px 0;
}
.post .title a:link,
.post .title a:visited {
	color: #000;
}
.post .title a:hover {
	color: #000;
	text-decoration: none;
}
.post .main-image {
	margin: 0 0 20px -20px;
}
.post p.tags {
	background: url(/wp-content/themes/pub/skeptical/images/ico-tag.gif) no-repeat left 0;
	clear: both;
	margin: 10px 0;
	padding-left: 25px;
	width: 100%;
}
.post .related {
	width: 220px;
}
.post .related h3 {
	background: url(/wp-content/themes/pub/skeptical/images/indentline-light.png) repeat-x left bottom;
	font-size: 17px;
	padding: 25px 0 10px 0;
}
.post .related ul li {
	padding: 0 5px;
}
.post .related ul li a {
	border-bottom: 1px solid #e0e0e0;
	color: #555;
	display: block;
	line-height: 14px;
	padding: 8px 0;
}
.post .related ul li span {
	color: #888;
	display: block;
	font-size: 11px;
	padding: 0;
	text-transform: uppercase;
}
.post .related ul li span.related-title {
	color: #555;
	font-size: 12px;
	margin-bottom: 2px;
	text-transform: none;
}
/* Typographic Elements */
.entry {
	font:14px/1.5em Helvetica, Arial, sans-serif;
}
.entry h1,
.comment-content h1,
.entry h2,
.comment-content h2,
.entry h3,
#comments .comment-content h3,
.entry h4,
.comment-content h4,
.entry h5,
.comment-content h5,
.entry h6,
.comment-content h6 {
	line-height: 1.5em;
	margin: 0 0 0.5em;
}
#comments .comment-content h3 {
	font-size: 1.6em;
}
.entry hr,
.comment-content hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
.entry p {
	font-size: 14px;
	margin-bottom: 1.5em;
}
.entry img {
	margin-bottom: 5px;
}
.entry blockquote,
.comment-content blockquote {
	background: url(/wp-content/themes/pub/skeptical/images/blockquote.png) no-repeat 0 12px;
	color: #444;
	font-style: italic;
	padding: 10px 20px 10px 50px;
}
.entry blockquote em,
.entry blockquote i,
.entry blockquote cite {
	font-style: normal;
}
.entry ul,
.comment-content ul {
	margin-bottom: 1.5em;
	padding: 0 0 0 30px;
}
.entry ul,
.comment-content ul {
	list-style-type: disc;
}
.entry ul ul,
.comment-content ul ul {
	list-style-type: circle;
}
.entry ul ul ul,
.comment-content ul ul ul {
	list-style-type: square;
}
.entry ol,
.comment-content ol {
	margin-bottom: 1.5em;
	padding: 0 0 0 30px;
}
.entry ul ul,
.comment-content ul ul,
.entry ol ol,
.comment-content ol ol,
.entry ul ol,
.comment-content ul ol,
.entry ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry ol,
.comment-content ol {
	list-style-type: decimal;
}
.entry dl,
.comment-content dl {
	margin: 0;
}
.entry dt,
.comment-content dt {
	font-weight: bold;
}
.entry dd,
.comment-content dd {
	margin-bottom: 1.5em;
}
.entry table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-align: left;
	text-transform: uppercase;
}
.entry td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.5em;
	overflow: auto;
	padding: 0.75em 1.5em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.page-link {
	margin: 1em 0;
}
.error404 .post #searchform {
	margin: 15px 0 0 0;
}
/* Images */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.comment-content img,
.entry img,
.widget img {
	height: auto; /* Override height to match resized width for correct aspect ratio. */
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
}
.entry img.wp-smiley,
.entry img.wp-smiley {
	border: none;
	margin: 0;
	padding: 0;
}
.alignleft {
	float: left;
	height: auto;
	margin: 5px 15px 5px 0;
}
.alignright {
	float: right;
	height: auto;
	margin: 5px 0 5px 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto 15px;
	text-align: center;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry .wp-caption {
	background: #F8F8F8;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
	max-width: 99%;
	padding: 1px;
	text-align: center;
}
.entry .wp-caption img {
	background: none;
	border: 0;
	margin: 0;
	max-width: 98%;
	padding: 4px 0;
}
.entry .wp-caption-text,
.entry .gallery-caption {
	font: 0.9em/1.5em Arial, Helvetica, sans-serif;
	margin: 0 0 8px 0;
	padding: 0;
	text-align: center;
}
/* Attachment page */
.entry .attachment {
	padding: 0 0 15px 0;
}
.entry .attachment img {
	display: block;
	margin: 0 auto;
}
body.attachment .entry-caption {
	margin: 5px 0 0 0;
	text-align: center;
}
body.attachment .entry .entry-caption p {
	color: #666;
	font-size: 12px;
}
body.attachment .nav-attachment {
	font-weight: bold;
	padding: 15px 0;
}
/* Author Info */
#author-info {
	border-top: 1px solid #ddd;
	padding: 23px 0;
}
#author-avatar {
	float: left;
	margin-right: -65px;
}
#author-description {
	float: left;
	margin-left: 85px;
}
#author-description h4 {
	font-size: 18px;
	line-height: 1.0em;
	margin-bottom: 3px;
}
.entry-content #author-description {
	color: #474646;
	font-size: 0.875em;
	line-height: 21px;
}
/* Pagination */
.nav-entries,
.post-entries {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	margin: 0 0 0 180px;
	padding: 10px 20px 8px;
	width: 479px;
}
.nav-entries a,
.post-entries a {
	color: #555;
	display: block;
	font-weight: bold;
	text-decoration: none;
}
.nav-entries a:hover,
.post-entries a:hover {
	text-decoration: underline;
}


/* =Widgets
-------------------------------------------------------------- */

/* Generic Widgets */
.widget {
	color: #555;
	font-size: 12px;
	margin: 0 0 30px 0;
}
.widget h3 {
	background: url(/wp-content/themes/pub/skeptical/images/indentline.png) repeat-x bottom left;
	font: normal bold 18px Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0 0 15px;
	text-transform: uppercase;
}
.widget h3 a {
	color: #333;
}
.widget p {
	font: 12px/20px Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}
.widget ul {
	clear: both;
	list-style-position: inside;
	list-style-type: disc;
	margin-top: -10px;
}
.widget ul li {
	background: url(/wp-content/themes/pub/skeptical/images/indentline-light.png) repeat-x bottom left;
	list-style: none;
	padding: 7px 0;
}
.widget ul li a {
	color: #555;
	line-height: 18px;
	text-decoration: none;
}
.widget ul li a:hover {
	text-decoration: underline;
}
.widget ul ul {
	border-top: none;
	padding: 10px 0 0 10px;
}
.widget ul ul li {
	background: none;
	padding: 3px 0;
}
/* Specific Widgets */
/* Widget Forms */
.widget input[type="text"] {
	border-color: #ccc #efefef #efefef #ccc;
	border-style: solid;
	border-width: 1px;
	float: left;
	margin: 0 5px 5px 0;
	padding: 7px 0 7px 7px !important;
	width: 96%;
}
.widget .screen-reader-text {
	display: none;
}
.widget input#searchsubmit,
.widget_blog_subscription input[type="submit"] {
	float: right;
}
.widget_search:after,
.widget_blog_subscription:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
/* Calendar Widget */
#wp-calendar {
	clear: both;
	margin-bottom: 15px;
	padding: 0;
	width: 95%;
}
#wp-calendar caption {
	padding: 0 10px 10px;
}
#wp-calendar th,
#wp-calendar td {
	background: #787878;
	color: #fff;
	padding: 5px;
	text-align: center;
}
#wp-calendar td {
	background: transparent;
	color: #555;
}
#wp-calendar td a {
	color: #333;
}
#wp-calendar td,
table#wp-calendar th {
	padding: 3px 0;
}
/* Recent Comments Widget */
.widget_recent_comments .avatar {
	max-width: none;
}
.widget_recent_comments td.recentcommentstexttop,
.widget_recent_comments td.recentcommentstextend {
	vertical-align: top;
}
.widget_recent_comments td.recentcommentstextend {
	line-height: 1.1em;
}
/* Authors Widget */
.widget_authors ul li {
	overflow: hidden;
}
.widget_authors ul li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.widget_authors {
	padding: 0 !important;
}
.widget_authors ul ul li {
	overflow: hidden;
}
.widget_authors img {
	float: left;
	margin-bottom: 3px !important;
	padding-right: 10px;
}
/* Authors grid Widget */
.widget_author_grid ul{
	margin-top: 0;
}
/* Twitter Widget */
.widget_twitter ul {
	margin-bottom: 10px;
}
.widget_twitter ul li a {
	color: #000
}
 /* Cloud Widgets */
.wp_widget_tag_cloud div,
.widget_tag_cloud div {
 	word-wrap: break-word;
}
 /* RSS Widgets */
.widget_rss ul li a {
	color: #000
}
.widget_rss_links p img {
	margin-bottom: 0;
	vertical-align: middle;
}
 /* Gravar Profile Widgets */
.widget-gravatar-profile h4 {
	margin-top: 0 !important;
}
/* Text Widgets */
.widget_text .textwidget {
	line-height: 18px !important;
	padding: 0 10px;
}
.widget_text .textwidget p {
	line-height: 18px !important;
}
/* Tags */
.widget_tag_cloud a {
	color: #555;
}
.widget_tag_cloud a:hover {
	color: #000;
	text-decoration: none;
}
/* Image Widget */
.widget_image .wp-caption {
	max-width: 100%;
}


/* =Comments
-------------------------------------------------------------- */

/* Comments */
#comments {
	background: url(/wp-content/themes/pub/skeptical/images/indentline-light.png) repeat-x left top;
	margin: 40px 0 0;
	padding: 40px 0 0 0;
	position: relative;
	width: 700px;
}
#comments h3 {
	color: #333;
	font-size: 30px;
	line-height: 1.0em;
	margin-bottom: 40px;
}
#comments .comment {
	list-style-type: none;
	margin: 0;
	width: 100%;
}
#comments .comment .comment-container {
	margin: 0 0 20px 0;
	position: relative;
}
#comments .comment .comment-container .comment-content {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	float: left;
	padding: 20px;
	width: 559px;
}
#comments .comment.bypostauthor .comment-container .comment-content {
	background: #fefeee;
}
#comments .avatar {
	float: left;
	margin: 0 10px 10px 0;
}
#comments .comment-content p {
	margin: 0 0 1.5em 0;
}
#comments .reply {
	padding-top: 0;
}
#comments .reply a {
	background: #eee;
	border-color: #888;
	color:#555 !important;
	font: 11px/18px Arial, Helvetica, sans-serif;
	text-shadow: none;
}
#comments .reply a:hover {
	background-color: #e6e6e6;
}
#comments .comment.depth-2 .comment-content {
	width: 534px;
}
#comments .comment.depth-3 .comment-content {
	width: 509px;
}
#comments .comment.depth-4 .comment-content {
	width: 484px;
}
#comments .comment.depth-5 .comment-content {
	width: 434px;
}
#comments .comment.depth-6 .comment-content {
	width: 409px;
}
#comments .comment.depth-7 .comment-content {
	width: 384px;
}
#comments .comment #commentform input.txt,
#comments .comment #commentform textarea {
	width: 495px !important;
}
#comments .comment.depth-2 #commentform input.txt,
#comments .comment.depth-2 #commentform textarea {
	width: 470px !important;
}
#comments .comment.depth-3 #commentform input.txt,
#comments .comment.depth-3 #commentform textarea {
	width: 445px !important;
}
#comments .comment.depth-4 #commentform input.txt,
#comments .comment.depth-4 #commentform textarea {
	width: 420px !important;
}
#comments .comment.depth-5 #commentform input.txt,
#comments .comment.depth-5 #commentform textarea {
	width: 395px !important;
}
#comments .comment.depth-6 #commentform input.txt,
#comments .comment.depth-6 #commentform textarea {
	width: 370px !important;
}
#comments .comment.depth-7 #commentform input.txt,
#comments .comment.depth-7 #commentform textarea {
	width: 345px !important;
}
p.nocomments {
	font-size: 18px;
	font-weight: bold;
}
#comments ul.children {
	margin: 0 0 0 25px;
	padding: 0;
}
#comments .navigation a {
	display: block;
	margin: 15px 0 0 0;
	text-decoration: none;
}
#respond h3 small {
	font-size: 40%;
	text-transform: uppercase;
}
#pings {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	margin: 30px 0 0 0;
	padding: 20px;
}
#comments #pings h3 {
	font-size: 24px;
	margin: 0 0 20px 0;
}
#comments .pingbacks li.pingback {
	margin: 10px 0;
}
#comments .pingbacks li.pingback .reply {
	display: none;
}
/* Comments Form */
#respond {
	margin: 40px 0 0;
}
#respond h3 {
	color: #333;
	font-size: 30px;
	margin-bottom: 20px;
}
#respond .left {
	float: left;
	margin-right: 15px;
	width: 200px;
}
#respond .right {
	float: left;
	width: 380px;
}
#respond label {
	color: #777;
	font-size: 11px;
}
#commentform {
	margin: 15px 0 0 0;
}
.comment-notes,
.logged-in-as {
	margin-bottom: 20px;
}
#respond label {
	color: #777;
	font-size: 11px;
}
.required,
.form-allowed-tags {
	display: none;
}
#commentform div:not(#comment-form-subscribe) p label {
	background: #333;
	color: #fff;
	display: inline-block;
	display: inline;
	font-size: 18px;
	font-weight: bold;
	margin: 0 26px 0 0;
	padding: 11px 10px 8px;
	position: relative;
	text-shadow: 2px 1px 0 rgba(0,0,0,0.4);
	vertical-align: top;
	width: 130px;
}
#commentform div:not(#comment-form-subscribe) p label:after {
	background: url(/wp-content/themes/pub/skeptical/images/bg-postdate.png) no-repeat center right;
	content: "";
	display: block;
	height: 38px;
	position: absolute;
	right: -15px;
	top: 0;
	width: 15px;
}
#commentform input[type=text],
#commentform textarea {
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border: none;
	font: 14px/14px Arial, Helvetica, sans-serif;
}
#commentform input[type=text] {
	color: #666;
	margin: 0 5px 20px 0;
	padding: 10px 7px;
	width: 500px;
}
#commentform textarea {
	color: #666;
	padding: 5px 7px;
	width: 500px !important;
}
#respond #commentform #submit {
	cursor: pointer;
	margin: 15px 0 0 180px;
}
/* Pingbacks / Trackbacks */
h3#pings {
	margin: 25px 0 10px 0;
}
.pinglist li {
	list-style-type: decimal;
	margin: 0 0 0 20px;
}
.pinglist li .author {
	font-size: 15px;
	font-weight: bold;
}
.pinglist li .date {
	font-size: 11px;
}
.pinglist li .pingcontent {
	display: block;
	margin: 10px 0;
}


/* =Misc
-------------------------------------------------------------- */

/* Buttons */
a.button,
a.comment-reply-link,
#commentform #submit,
.widget input.submit,
.entry input[type="submit"],
.widget #searchsubmit,
.widget_blog_subscription input[type="submit"],
#searchsubmit {
	border-bottom-color: #000;
	/*Border radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	/*Background*/
	background: #000; /*Fallback*/
	background: -webkit-gradient(
				linear,
					left top,
					left bottom,
					color-stop( .2, #333 ),
					color-stop( 1, #000 )
				);
	background: -moz-linear-gradient(
					center top,
					#333 20%,
					#000 100%
				);
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla( 0, 100%, 100%, .3 ) /*Top*/,
						inset 0 0 2px hsla( 0, 100%, 100%, .3 ) /*Shine*/,
						0 1px 2px hsla( 0, 0%, 0%, .29 ) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla( 0, 100%, 100%, .3 ) /*Top*/,
					inset 0 0 2px hsla( 0, 100%, 100%, .3 ) /*Shine*/,
					0 1px 2px hsla( 0, 0%, 0%, .29 ) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla( 0, 100%, 100%, .3 ) /*Top*/,
				inset 0 0 2px hsla( 0, 100%, 100%, .3 ) /*Shine*/,
				0 1px 2px hsla( 0, 0%, 0%, .29 ) /*Shadow*/;
	color: white !important;
	display: inline-block;
	font-weight: bold !important;
	margin: 5px;
	padding: 7px 13px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 hsla( 0, 0%, 0%, .3 );
	text-transform: uppercase;
}
a.button.large {
	padding: 6px 16px;
}
a.button.small,
a.comment-reply-link {
	padding: 0 10px;
}
a.button:hover,
a.button.hover,
a.button.active,
a.comment-reply-link:hover,
#commentform #submit:hover,
.entry input[type="submit"]:hover,
.widget input.submit:hover,
.widget #searchsubmit:hover,
.widget_blog_subscription input[type="submit"]:hover,
#searchsubmit:hover {
	/*Background*/
	background: #333; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop( .2, #333 ),
					color-stop( 1, #212121 )
				);
	background: -moz-linear-gradient(
					center top,
					#333 20%,
					#212121 100%
				);
	cursor: pointer;
	text-decoration: none !important;
}
a.button:active,
a.button.active {
	border-color: #20559a;
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla( 0, 0%, 0%, .3 ) /*Shine*/,
						0 1px 0 hsla( 0, 100%, 100%, 1 ) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla( 0, 0%, 0%, .3 ) /*Shine*/,
					0 1px 0 hsla( 0, 100%, 100%, 1 ) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla( 0, 0%, 0%, .3 ) /*Shine*/,
				0 1px 0 hsla( 0, 100%, 100%, 1 ) /*Shadow*/;
}
a.button.inactive {
	/*Background*/
	background: #e8e8e8; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop( .2, #f3f3f3 ),
					color-stop( 1, #e6e6e6 )
				);
	background: -moz-linear-gradient(
					center top,
					#f3f3f3 20%,
					#e6e6e6 100%
				);
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla( 0, 100%, 100%, .5 ) /*Top*/,
						inset 0 0 2px hsla( 0, 100%, 100%, .1 ) /*Shine*/,
						0 1px 0 hsla( 0, 100%, 100%, .7) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla( 0, 100%, 100%, .5 ) /*Top*/,
					inset 0 0 2px hsla( 0, 100%, 100%, .1 ) /*Shine*/,
					0 1px 0 hsla( 0, 100%, 100%, .7 ) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla( 0, 100%, 100%, .5 ) /*Top*/,
					inset 0 0 2px hsla( 0, 100%, 100%, .1 ) /*Shine*/,
					0 1px 0 hsla( 0, 100%, 100%, .7 ) /*Shadow*/;
	color: #aeaeae;
	text-shadow: 0 1px 0 white;
}


/* =Post Format
-------------------------------------------------------------- */

.format-aside .title,
.format-image .title,
.format-quote .title,
.format-video .title,
.format-audio .title {
	display: none;
}
/* Link Posts */
.format-link .link a:after{
	content: "\2192";
	padding-left: 6px;
}
/* Audio Posts */
.format-audio .player {
	text-align: center;
}
.player audio {
	display: none;
}
.skeptical-mp3 .hentry.mp3 audio,
.skeptical-ogg .hentry.ogg audio,
.skeptical-wav .hentry.wav audio {
	display: block;
}
.skeptical-mp3 .hentry.mp3 .audio-file-link,
.skeptical-ogg .hentry.ogg .audio-file-link,
.skeptical-wav .hentry.wav .audio-file-link {
	display: none;
}

/* Chat Posts */
.format-chat .entry p {
	margin: 0.5em 0;
}
.format-chat .entry p:nth-child(odd),
.format-chat .entry blockquote p:nth-child(odd) {
	font-weight: bold;
}
/* Gallery Posts */
.format-gallery .gallery-info {
	margin-top: 10px;
}
.format-gallery .entry .gallery-thumb {
	margin: 0 0 0 -20px;
	width: 519px;
}


/* =IE 7
-------------------------------------------------------------- */

#ie7 .nav li a {
	_height: 0;
	zoom: 1;
}
#ie7 .button,
#ie7 .button:visited {
	margin: 0;
	padding: 7px 6px;
}
#ie7 #tabs ul.wooTabs {
	zoom: 1;
}
#ie7 .widget ul li {
	padding-left: 0 !important;
}
#ie7 .commentlist li .comment-container {
	zoom:1;
}
#ie7 .comment-content,
#ie7 .avatar {
	overflow: hidden;
}
#ie7 #comments .comment .comment-container .comment-content {
	width: 550px;
}
#ie7 #comments .comment.depth-2 .comment-content {
	width: 525px;
}
#ie7 #comments .comment.depth-3 .comment-content {
	width: 500px;
}
#ie7 #comments .comment.depth-4 .comment-content {
	width: 475px;
}
#ie7 #comments .comment.depth-5 .comment-content {
	width: 425px;
}
#ie7 #comments .comment.depth-6 .comment-content {
	width: 400px;
}
#ie7 #comments .comment.depth-7 .comment-content {
	width: 375px;
}
#ie7 #comments #respond {
	float: none;
}
#ie7 #header {
	z-index: 9999;
}
#ie7 #navigation {
	width: inherit;
	z-index: 9999;
}
#ie7 #navigation .nav,
#ie7 #navigation .rss {
	float: left;
}
#ie7 .post{
	zoom: 1;
}


/* =IE 8
-------------------------------------------------------------- */

#ie8 .button,
#ie8 .button:visited {
	margin: 0;
	padding: 10px 15px;
}


/* =wpcom
-------------------------------------------------------------- */

.sharedaddy {
	clear: both;
}
div.sharedaddy div.sd-block,
div.sharedaddy.sharedaddy-dark .sd-block {
	border-top: 1px solid #ddd !important;
}
div.sharedaddy ul.wpl-avatars, .wpl-likebox {
	padding-bottom: 9px;
}
#wpstats {
	display: block;
	margin: -15px auto 0;
	position: relative;
	z-index: 999;
}
.sd-rating h3 {
	font-size: 1.0em;
}


/* =Infinity Styles
-------------------------------------------------------------- */

/**
 * Globally hidden elements when IS is supported and in use.
 */
.infinite-scroll .nav-entries, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending #footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/**
 * When IS has reached its end we need to re-display elements that were hidden (via .neverending) before
 */
.infinity-end.neverending #footer {
	display: block;
}

/* Additional styles */

.infinite-wrap {
	border-top: none;
	padding: 0;
}
.infinite-loader {
	margin-left: 180px !important;
	margin-bottom: 1.2em !important;
}
#infinite-handle {
	margin: 0 0 2em 180px;
}
body.rtl .infinite-loader,
body.rtl #infinite-handle {
	margin-right: 180px;
	margin-left: 0;
}/* Flickr Widget (WP.com) */
#flickr_badge_uber_wrapper a {
	color: #555 !important;
}
#flickr_badge_uber_wrapper a:hover{
	color: #000 !important;
}
.widget_flickr #flickr_badge_wrapper {
	background-color: transparent !important;
	border: none !important;
}
.widget_flickr table {
	margin: 0 !important;
}
.widget_flickr .flickr-size-thumbnail {
	margin: 0 auto;
}
.widget_flickr .flickr-size-thumbnail br,
.widget_flickr .flickr-size-small br {
	display: none;
}
.widget_flickr .flickr-size-thumbnail img {
	display: block;
	margin-bottom: 10px;
}
.widget_flickr .flickr-size-small img {
	display: block;
	margin-bottom: 10px;
	max-width: 100%;
}li.share-print a.sd-button > spandiv.sharedaddy ul,
div.sharedaddy li {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	background: none;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	clear: both;
}

div.sharedaddy,
div.sharedaddy div {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

div.sharedaddy h3,
#content div.sharedaddy h3,
#main div.sharedaddy h3,
#primary div.sharedaddy h3 {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

/* @noflip */
.rtl div.sharedaddy h3,
.rtl #content div.sharedaddy h3,
.rtl #main div.sharedaddy h3,
.rtl #primary div.sharedaddy h3 {
	float: right;
	text-align: right;
}

div.sharedaddy ul,
div.sharedaddy li {
	margin: 0 !important;
	padding: 0 !important;
	text-indent: 0;
}

div.sharedaddy li::before {
	content: "";
}

div.sharedaddy div.pd-rating {
	margin: 0;
	min-height: 23px;
}

div.sharedaddy a,
div.sharedaddy a:link,
div.sharedaddy a:visited {
	font-style: normal;
}

/* ClearFix trick */

div.sharedaddy:before,
div.sharedaddy:after,
div.sharedaddy .sd-block:before,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:before,
div.sharedaddy ul:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

div.sharedaddy:after,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:after {
	clear: both;
}

div.sharedaddy,
div.sharedaddy .sd-block,
div.sharedaddy ul {
	zoom: 1;
}


/* =Base Styles
-------------------------------------------------------------- */

div.sharedaddy div.sd-block {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
	padding: 10px 0 5px;
	margin: 0;
	width: 100% !important;
}

div.sharedaddy.sharedaddy-dark .sd-block {
	border-top-color: #222;
	border-top-color: rgba(50,50,50,.5);
}

div.sharedaddy .sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
	margin: -2px 0 0 0;
}

div.sharedaddy .sd-content ul {
	margin: 0;
}

div.sharedaddy .sd-content li {
	float: left;
	margin: 0 5px 5px 0 !important;
	display: block;
}

/* @noflip */
.rtl div.sharedaddy .sd-content {
	float: right;
}

/* @noflip */
.rtl div.sharedaddy .sd-content li {
	float: right;
	margin: 0 0 5px 5px !important;
}

/* Base Button .sd-button */

div.sharedaddy a.sd-button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #000 !important;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

div.sharedaddy a.sd-button:hover {
	color: #000;
	text-shadow: 0 1px 0 #fff;
	border-color: #ccc;
	background: #eee;
	background: -moz-linear-gradient(top, #efefef 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -o-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#eee 100%);
	background: linear-gradient(top, #efefef 0%,#eee 100%);
}

div.sharedaddy a.sd-button:active {
	background-color: #efefef;
	box-shadow: inset 0 -1px 0 #fff;
	border-color: #ddd;
}

a.sd-button > span {
	padding: 4px 8px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

a.sd-button:hover span {
	opacity: 1;
}

.sd-button span.share-count {
	font-size: 90%;
	color: #666;
	margin-left: 5px;
	line-height: 1;
}

/* @noflip */
.rtl .sd-button span.share-count {
	margin-right: 5px;
}

/* Button Style Options */

.sd-social-icon-text a.sd-button > span,
a.sd-button > span {
	padding: 1px 5px 1px 23px;
	background-position: 2px center;
	background-repeat: no-repeat;
}

.sd-social-icon a.sd-button > span {
	padding: 3px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
}

.sd-social-text a.sd-button > span {
	background: none !important;
	padding-left: 5px
}

.sd-social-official li {
	height: 21px;
}

div.sharedaddy .no-text {
	width: 21px;
	height: 21px;
}

div.sharedaddy .no-text a {
	text-decoration: none;
}

div.sharedaddy .no-icon a span, div.sharedaddy li.no-icon div a span {
	padding-left: 5px;
	background-image: none;
}

/* @noflip */
.rtl .sd-social-icon-text a.sd-button > span,
.rtl a.sd-button > span {
	padding: 3px 23px 3px 5px;
	background-position: 98% center;
}

/* @noflip */
.rtl .sd-social-text a.sd-button > span {
	padding-left: 0;
	padding-right: 5px
}

/* @noflip */
.rtl div.sharedaddy .no-icon a span, .rtl div.sharedaddy li.no-icon div a span {
	padding-left: 0;
	padding-right: 5px
}

/* Icons */

li.share-facebook a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/facebook.png);
}

li.share-tumblr a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/tumblr.png);
}

li.share-twitter a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/twitter.png?1);
}

li.share-google-plus-1 a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/googleplus1.png?1);
}

li.share-linkedin a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/linkedin.png);
}

li.share-press-this a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/wordpress.png);
}

li.share-digg a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/digg.png);
}

li.share-stumbleupon a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/stumbleupon.png);
}

li.share-reddit a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/reddit.png);
}

li.share-pinterest a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pinterest.png);
}

li.share-pocket a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pocket.png);
}

li.share-kindle a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/kindle.png);
}

li.share-email a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/email.png);
}

li.share-print a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/print.png);
}

a.sd-button.share-more span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/more.png);
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 120dpi) {

	li.share-facebook a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/facebook@2x.png);
		background-size: 16px 16px;
	}

	li.share-tumblr a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/tumblr@2x.png);
		background-size: 16px 16px;
	}

	li.share-twitter a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/twitter@2x.png?1);
		background-size: 16px 16px;
	}

	li.share-google-plus-1 a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/googleplus1@2x.png);
		background-size: 16px 16px;
	}

	li.share-linkedin a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/linkedin@2x.png);
		background-size: 16px 16px;
	}

	li.share-press-this a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/wordpress@2x.png);
		background-size: 16px 16px;
	}

	li.share-digg a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/digg@2x.png?1);
		background-size: 16px 16px;
	}

	li.share-stumbleupon a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/stumbleupon@2x.png);
		background-size: 16px 16px;
	}

	li.share-reddit a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/reddit@2x.png);
		background-size: 16px 16px;
	}

	li.share-pinterest a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pinterest@2x.png);
		background-size: 16px 16px;
	}

	li.share-pocket a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pocket@2x.png);
		background-size: 16px 16px;
	}

	li.share-kindle a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/kindle@2x.png);
		background-size: 16px 16px;
	}

	li.share-email a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/email@2x.png?1);
		background-size: 16px 16px;
	}

	li.share-print a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/print@2x.png);
		background-size: 16px 16px;
	}

	a.sd-button.share-more span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/more@2x.png?1);
		background-size: 16px 16px;
	}

}

/* More pannel */

div.sharedaddy .sharing-hidden .inner {
	max-width: 250px;
	padding: 15px 15px 10px;
	position: absolute;
	margin-left: -100px;
	z-index: 1001;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

/* @noflip */
.rtl div.sharedaddy .sharing-hidden .inner {
	margin-left: 0;
	margin-right: -100px;
}

div.sharedaddy.sharedaddy-dark .sharing-hidden .inner {
	border-color: #222;
}

/* =Sharing: Email Dialog
-------------------------------------------------------------- */

#sharing_email {
	width: 312px;
	padding: 15px;
	position: absolute;
	margin-left: -120px;
	z-index: 1001;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	text-align: left;
}

div.sharedaddy.sharedaddy-dark #sharing_email {
	border-color: #fff;
}

#sharing_email .errors {
	color: #fff;
	background-color: #771a09;
	font-size: 11px;
	padding: 5px 8px;
	line-height: 11px;
	margin: 10px 0 0 0;
}

#sharing_email label {
	font-size: 11px;
	color: #333;
	font-weight: bold;
	display: block;
	padding: 0 0 4px 0;
	text-align: left;
	text-shadow: none;
}

#sharing_email input[type="text"] {
	width: 98.5%;
	margin-bottom: 12px;
	border: 1px solid #ccc;
	background: #fff;
	color: #333;
}

#sharing_email .sharing_cancel {
	padding: 0 0 0 10px;
	font-size: 11px;
	text-shadow: none;
}

#sharing_email .recaptcha {
	width: 312px;
	height: 123px;
	margin: 10px 0 14px 0;
}

/* =RTL
-------------------------------------------------------------- */
/* @noflip */
body.rtl .sharing ul {
	float: right;
}

/* @noflip */
body.rtl .sharing li {
	margin: 0 0 0 10px !important;
}

/* @noflip */
.rtl #sharing_email {
	margin-left: -0px;
	margin-right: -120px;
	text-align: right
}

/* @noflip */
.rtl #sharing_email label {
	text-align: right
}

/* @noflip */
.rtl #sharing_email .sharing_cancel {
	padding: 0 10px 0 0;
}
/*
	Global styles for WordPress.com
*/
img.latex {
	border: none;
	vertical-align: middle;
}
.video-player {
	border: 0;
	margin: auto;
	padding: 5px;
	text-align: center;
}
.wpvidavee_title {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	padding: 2px 5px;
	text-align: left;
}
.wpvidavee_footer {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 9px;
	line-height: 11px;
	padding: 2px 5px;
	text-align: right;
}
.wpvidavee_footer a {
	text-decoration: none;
}
.wpvidavee_p {
	color: red;
}
.hidden {
	display: none;
}
.possibly-related {
	clear: both;
}
.screen-reader-text {
	position: absolute;
	left: -1000em;
}
.comment object,
.comment embed,
.embed-vimeo iframe,
.embed-youtube iframe {
	max-width: 100%; /* avoid videos being too wide */
}

/**
 * Simple Homepage Experiment
 */

.simple-homepage-experiment #header,
.simple-homepage-experiment #footer,
.simple-homepage-experiment #landingpage {
	display: none !important;
}
.simple-homepage-experiment .simple-homepage {
	display: block !important;
}

.simple-homepage-experiment .simple-homepage {
	background: #f5f5f5;
}

/**
 * Typography
 */

.simple-homepage-experiment body,
.simple-homepage-experiment td,
.simple-homepage-experiment p,
.simple-homepage-experiment div,
.simple-homepage-experiment input,
.simple-homepage-experiment label {
	font-family: "Open Sans", "Helvetica", sans-serif !important;
	font-size: 14px;
	line-height: 1.5;
	outline: none;
}

.simple-homepage-experiment input[type=checkbox] {
	margin: 0;
}

.simple-homepage-experiment h2,
.simple-homepage-experiment h3 {
	text-align: center;
}

.simple-homepage-experiment h2 {
	font-family: "Open Sans", "Helvetica", sans-serif !important;
	font-size: 18px !important;
	color: #464646;

	margin-bottom: 16px;
}

.simple-homepage-experiment h3 {
	color: #898989;
	font-size: 14px !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
}

.simple-homepage-experiment a {
	color: #1e8cbe;
	text-decoration: none;
}

.simple-homepage-experiment a:hover {
	color: #005684;
}

/**
 * Layout
 */

body.simple-homepage-experiment {
	background: #f1f1f1;
}

body.simple-homepage-experiment#h4home #lang-guess {
	margin-top: 85px;
	padding: 15px;

	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.simple-homepage {
	display: none;
}

body.simple-homepage-experiment .simple-homepage {
	display: block;
}

.simple-homepage-experiment h1 {
	margin: 50px auto 50px auto;
	padding-left: 85px;
	height: 75px;
	width: 305px;
	color: #737373;

	font-size: 43px !important;
	font-weight: 100;
	line-height: 75px;
	text-shadow: 0 1px 0 #fff;

	background: transparent url(/wp-content/themes/h4/i/simple-homepage/wp-logo-1x.png) no-repeat !important;
}

.simple-homepage-experiment .content {
	max-width: 910px;
	margin: auto;
}

.simple-homepage-experiment .box {
	background: #fff;
	width: 43.4065934%;
	height: 280px;
	padding: 35px;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	-moz-box-shadow:    0px 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	box-shadow:         0px 2px 3px rgba(0,0,0,0.2);
}

.simple-homepage-experiment .box:hover {
	-moz-box-shadow:    0px 2px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	box-shadow:         0px 2px 5px rgba(0,0,0,0.3);

}

.simple-homepage-experiment .or {
	width: 45px;
	height: 45px;
	margin: 100px 20px;

	float: left;

	color: rgba( 0, 0, 0, 0.2);
	text-shadow: 0 1px 1px #f1f1f1, 0 0 0 #aaa,
				 0 4px 1px #f1f1f1;

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;

	border-radius: 50%;
	border: 8px rgba( 0, 0, 0, 0.1 ) solid;
}

.simple-homepage-experiment .sign-up {
	text-align: center;
}

.simple-homepage-experiment .big-ass-blue-button {
	margin: 20px auto;
	padding: 12px 40px;

	display: inline-block;

	color: #fff !important;
	font-size: 24px;
	text-decoration: none;
	text-shadow:  0px -1px 1px rgba(0,0,0,0.32);

	border-radius: 4px;

	background-color: #0aa1ce;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(10, 161, 206)), to(rgb(0, 136, 181)));
	background-image: -webkit-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -moz-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -o-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -ms-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0aa1ce', EndColorStr='#0088b5');

	border: 1px solid #0088b5;

	box-shadow:	inset 0px 1px 1px rgba(255,254,254,0.5),
				0 1px 1px rgba(0,0,0,0.3);
}

.simple-homepage-experiment .big-ass-blue-button:hover {
	color: #fff;

	background-color: #4eb5d5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(78, 181, 213)), to(rgb(0, 136, 181)));
	background-image: -webkit-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -moz-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -o-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -ms-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4eb5d5', EndColorStr='#0088b5');
}

.simple-homepage-experiment .big-ass-blue-button:active {
	background: #0aa1ce;
	box-shadow:	inset 0px -1px 1px rgba(255,254,254,0.2);
}

.simple-homepage-experiment .login input[type=text],
.simple-homepage-experiment .login input[type=password] {
	display: block;
	width: 90%;
	margin: 0 0 10px 0;
	padding: 10px 15px 10px 35px;

	color: #898989;
	font-size: 14px;
	font-weight: 200;

	border-radius: 3px;

	background: #FCFCFC url(/wp-content/themes/h4/i/simple-homepage/login-sprite-1x.png) no-repeat;

	border: 1px solid #BFBFBF;

	-moz-box-shadow:    inset 0px 1px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
	box-shadow:         inset 0px 1px 3px rgba(0,0,0,0.15);
}

.simple-homepage-experiment .login input:focus {
	background: #fff url(/wp-content/themes/h4/i/simple-homepage/login-sprite-1x.png) no-repeat;
	color: #444;
	border: 1px #aaa solid;
}

.simple-homepage-experiment .login input[type=text] {
	background-position: -3px -3px;
}

.simple-homepage-experiment .login input[type=password] {
	background-position: -3px -57px;
}

.simple-homepage-experiment#h4home #wrapper button.login-button {
	float: right !important;
	padding: 5px 20px !important;
	margin: 20px 0 !important;
	border-radius: 3px !important;
	border: 1px #bbb solid !important;

	color: #464646 !important;
	font-size: 15px !important;
	line-height: 1.6 !important;
	text-transform: none !important;
	letter-spacing: 0 !important;

	text-shadow:         0px 1px 1px #fff !important;
	box-shadow:	inset 0px 1px 1px rgba(255,254,254,0.8),
				0 1px 2px rgba(0,0,0,0.1)  !important;

	background-color: #eaeaea !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 234, 234)), to(rgb(201, 201, 201))) !important;
	background-image: -webkit-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -moz-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -o-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -ms-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eaeaea', EndColorStr='#c9c9c9')  !important;
}

.simple-homepage-experiment#h4home #wrapper .login-button:hover {
	background-color: #fcfcfc !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(202, 202, 202))) !important;
	background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -o-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -ms-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#cacaca') !important;
}

.simple-homepage-experiment#h4home #wrapper .login-button:active {
	background: #eaeaea  !important;
	box-shadow: 0 -1px 1px rgba(255,255,255,0.8)  !important;
}

.simple-homepage-experiment .forgot-password {
	display: block;
	margin: 17px 0 4px 0;

	float: left;
	clear: left;

	font-size: 12px;
}

.simple-homepage-experiment .remember-me {
	float: left;
	clear: left;
	margin: 0;
}

.simple-homepage-experiment .remember-me label {
	font-size: 12px;
	color: #1e8cbe;
}

.simple-homepage-experiment .remember-me label:hover {
	color: #005684;
}

.simple-homepage-experiment .footer {
	position: fixed;
		bottom: 20px;
		right: 0;
		left: 0;
	color: #898989;

	font-size: 11px;
	clear: both;
	text-align: center;
}

.simple-homepage-experiment .footer .automattic {
	margin: 0 3px;
	width: 127px;
	height: 13px;

	background: url(/wp-content/themes/h4/i/simple-homepage/automattic-1x.png) no-repeat;
	text-indent: -999999px;
	display: inline-block;
	vertical-align: text-bottom;
}

.simple-homepage-experiment .clear {
	clear: both;
}

/**
 * Retina CSS
 */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {

	.simple-homepage-experiment h1 {
		background: transparent url(/wp-content/themes/h4/i/simple-homepage/wp-logo-2x.png) no-repeat !important;
		background-size: 74px 74px;
	}

	.simple-homepage-experiment .footer .automattic {
		background: url(/wp-content/themes/h4/i/simple-homepage/automattic-2x.png) no-repeat;
		background-size: 127px 11px;
	}

	.simple-homepage-experiment .login input[type=text],
	.simple-homepage-experiment .login input[type=password] {
		background: #FCFCFC url(/wp-content/themes/h4/i/simple-homepage/login-sprite-2x.png) no-repeat;
		background-size: 40px 96px;
	}

	.simple-homepage-experiment .login input:focus {
		background: #fff url(/wp-content/themes/h4/i/simple-homepage/login-sprite-2x.png) no-repeat;
		background-size: 40px 96px;
	}

}

/**
 * Responsive CSS
 */

@media screen and (max-width: 800px) {

	.simple-homepage-experiment .or {
		clear: both;
		float: none;
		margin: 20px auto;
	}

	.simple-homepage-experiment .box {
		clear: both;
		margin: auto 20px;
		float: none;
		width: auto;
	}

	.simple-homepage-experiment .login {
		margin-bottom: 30px;
	}

	.simple-homepage-experiment .footer {
		position: relative;
		padding-top: 30px;
	}
}

@media screen and (max-height: 580px) {

	.simple-homepage-experiment .footer {
		position: relative;
		padding-top: 30px;
		margin-top: 50px;
	}
}div[class^="gr_custom_container"] {
	/* customize your Goodreads widget container here*/
	border: 1px solid gray;
	border-radius:10px;
	padding: 10px 5px 10px 5px;
	background-color: #FFF;
	color: #000;
}

div[class^="gr_custom_container"] a {
	color: #000;
}

h2[class^="gr_custom_header"] {
	/* customize your Goodreads header here*/
	display: none;
}
div[class^="gr_custom_each_container"] {
	/* customize each individual book container here */
	width: 100%;
	clear: both;
	margin-bottom: 10px;
	overflow: auto;
	padding-bottom: 4px;
	border-bottom: 1px solid #aaa;
}
div[class^="gr_custom_book_container"] {
	/* customize your book covers here */
	float: right;
	overflow: hidden;
	height: 60px;
	margin-left: 4px;
	width: 39px;
}
div[class^="gr_custom_author"] {
	/* customize your author names here */
	font-size: 10px;
}
div[class^="gr_custom_tags"] {
	/* customize your tags here */
	font-size: 10px;
	color: gray;
}
div[class^="gr_custom_review"] {
}
div[class^="gr_custom_rating"] {
	display: none;
}
